sas-core/main/default/flows/CARE_Create_Customer_Claim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <dynamicChoiceSets>
        <name>CustomerClaimTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Claim_Type__c</picklistField>
        <picklistObject>Customer_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CARE Create Customer Claim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARE Create Customer Claim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Case_with_Customer_Claim_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Claim__c</field>
            <value>
                <elementReference>Create_Customer_Claim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer_Claim</name>
        <label>Create Customer Claim</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_Customer</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Claim_Type__c</field>
            <value>
                <elementReference>Customer_Claim_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Date__c</field>
            <value>
                <elementReference>Flight_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Number__c</field>
            <value>
                <elementReference>Flight_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Firm__c</field>
            <value>
                <elementReference>Legal_Firm.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Major_Event__c</field>
            <value>
                <elementReference>Major_Event.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Current_Case_Information_0.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIR__c</field>
            <value>
                <elementReference>PIR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PNR__c</field>
            <value>
                <elementReference>PNR</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Case_Information_0</name>
        <label>Get Current Case Information</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Care_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_Customer_Claim_Information</name>
        <label>Update Case with Customer Claim Information</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Claim__c</field>
            <value>
                <elementReference>Create_Customer_Claim</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Customer_Care_Creation</name>
        <label>Customer Care Creation</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Customer_Claim</targetReference>
        </connector>
        <fields>
            <name>Customer_Claim_Type</name>
            <choiceReferences>CustomerClaimTypeOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Claim Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PNR</name>
            <dataType>String</dataType>
            <fieldText>PNR</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PIR</name>
            <dataType>String</dataType>
            <fieldText>PIR</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Flight_Number</name>
            <dataType>String</dataType>
            <fieldText>Flight Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Flight_Date</name>
            <dataType>Date</dataType>
            <fieldText>Flight Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Legal_Firm</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Legal_Firm__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Legal Firm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Customer_Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Major_Event</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Major_Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Major Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Customer_Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Claim_Message</name>
        <label>Customer Claim Message</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_Case_Information_0</targetReference>
        </connector>
        <fields>
            <name>Customer_Claim_Question</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Is this a new customer claim? &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If yes, click next&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Claim_Message</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
