sas-core/main/default/flows/CARE_Create_Settlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>EB_Points</name>
        <choiceText>EB Points</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EB Points</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monetary</name>
        <choiceText>Monetary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monetary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voucher</name>
        <choiceText>Voucher</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voucher</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Settlement_Type</name>
        <label>Settlement Type</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EB_Points_Settlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Settlement_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EB Points</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_EB_Points_Settlement</targetReference>
            </connector>
            <label>EB Points Settlement</label>
        </rules>
        <rules>
            <name>Monetary_Settlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Settlement_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monetary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Monetary_Settlement</targetReference>
            </connector>
            <label>Monetary  Settlement</label>
        </rules>
        <rules>
            <name>Voucher_Settlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Settlement_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Voucher_Settlement</targetReference>
            </connector>
            <label>Voucher Settlement</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>voucherTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Voucher_Type__c</picklistField>
        <picklistObject>Settlement__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CARE Create Settlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARE Create Settlement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_EB_Points_Settlement</name>
        <label>Create EB Points Settlement</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Outcome</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_line_1__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_line_2__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Customer_Claim.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EuroBonus_Number__c</field>
            <value>
                <elementReference>Get_Customer_Claim.EuroBonus_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Contact_Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Monetary_Settlement</name>
        <label>Create Monetary Settlement</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Outcome</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_line_1__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_line_2__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BIC_Swift__c</field>
            <value>
                <elementReference>Get_Customer_Claim.BIC_Swift__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Bank_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Country__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Bank_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Bank_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Customer_Claim.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Contact_Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Voucher_Settlement</name>
        <label>Create Voucher Settlement</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Outcome</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_line_1__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_line_2__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Country__c</field>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Customer_Claim.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_First_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Contact_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Last_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Contact_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Contact_Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voucher_Email__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voucher_Type__c</field>
            <value>
                <elementReference>Voucher_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Customer_Claim</name>
        <label>Get Customer Claim Information</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_Settlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LIA_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Settlement_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Settlement_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_a_Settlement</name>
        <label>Create a Settlement</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>Select_Settlement_Type</name>
            <choiceReferences>Monetary</choiceReferences>
            <choiceReferences>EB_Points</choiceReferences>
            <choiceReferences>Voucher</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Settlement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Voucher_Type</name>
            <choiceReferences>voucherTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Voucher Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Settlement_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voucher</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outcome</name>
        <label>Outcome</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SeltlementCreation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Settlement has been created.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt; Please, open the settlement from the settlement related list&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Customer_Claim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
