sas-core/main/default/flows/CARE_Create_Customer_Claim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Route_Case</name>
        <label>Route Case</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <actionName>RouteCaseAndSetPriority</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseToRoute</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_email_to_validate</name>
        <label>Assign email to validate</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>providedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_email_valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_email_to_validate_0</name>
        <label>Assign email to validate</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>providedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_the_email_valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_flight_information_from_mandatory_fields</name>
        <label>Assign flight information from mandatory fields</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>pNRToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PNR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ticketNumberToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ticket_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flightNumberToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flight_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flightDateToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flight_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Claim_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_flight_information_from_optional_fields</name>
        <label>Assign flight information from optional fields</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>pNRToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PNR1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ticketNumberToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ticket_Number1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flightNumberToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flight_Number1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flightDateToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flight_Date1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Claim_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_team_customer_feedback_to_claims_0</name>
        <label>Change team customer feedback to claims</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>teamToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Claims</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_Customer_Claim_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Leave_current_team</name>
        <label>Leave current team</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>teamToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case_Information_0.Team__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_Customer_Claim_Information</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_claim_created_from_a_customer_feedback_case</name>
        <label>Is claim created from a customer feedback case?</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Leave_current_team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No team update</defaultConnectorLabel>
        <rules>
            <name>Yes_update_team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case_Information_0.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_team_customer_feedback_to_claims_0</targetReference>
            </connector>
            <label>Yes, update team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_email_valid</name>
        <label>Is the email valid?</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_Customer_Claim_Category</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_input</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Customer_Claim_Category</name>
        <label>What is Customer Claim Category?</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Baggage_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baggage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_flight_information_from_optional_fields</targetReference>
            </connector>
            <label>Baggage</label>
        </rules>
        <rules>
            <name>Something_else_not_baggage_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Baggage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_flight_information_from_mandatory_fields</targetReference>
            </connector>
            <label>Something else, not baggage</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_type_of_customer</name>
        <label>What is the type of customer?</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Is_claim_created_from_a_customer_feedback_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other reprensentative</defaultConnectorLabel>
        <rules>
            <name>Private_customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer</targetReference>
            </connector>
            <label>Private customer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>customerClaimCategories</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Claim_Category__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>customerClaimTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Claim_Type__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>delayLengthOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Delay_Length__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TotalDelayToDestinationOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Total_delay_to_final_destination__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeOfCustomerOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Customer__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>emailValidation</name>
        <dataType>Boolean</dataType>
        <expression>REGEX ( UPPER ( {!providedEmail} ) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,5}$&quot;)</expression>
    </formulas>
    <formulas>
        <name>FullCustomerName</name>
        <dataType>String</dataType>
        <expression>{!First_Name} + &quot; &quot;+ {!Last_Name}</expression>
    </formulas>
    <interviewLabel>CARE Create Customer Claim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARE Create Customer Claim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Is_claim_created_from_a_customer_feedback_case</targetReference>
        </connector>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>Create_Customer_Claim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer_Claim</name>
        <label>Create Customer Claim</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>What_is_the_type_of_customer</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Address_line_1__c</field>
            <value>
                <elementReference>Street_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BIC_Swift__c</field>
            <value>
                <elementReference>BIC_SWIFT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Holder_Name__c</field>
            <value>
                <elementReference>Bank_Account_Holder_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>Bank_Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Country__c</field>
            <value>
                <elementReference>BankCountryCurrency.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Firm__c</field>
            <value>
                <elementReference>Claim_Firm.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Code__c</field>
            <value>
                <elementReference>Company_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concerns_a_person_with_reduced_mobility__c</field>
            <value>
                <elementReference>Concerns_a_person_with_reduced_mobility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concerns_an_unaccompanied_minor__c</field>
            <value>
                <elementReference>Concerns_an_unaccompanied_minor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>providedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>CustomerCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>BankCountryCurrency.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Claim_Category__c</field>
            <value>
                <elementReference>CustomerClaimCategoryType.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Claim_Type__c</field>
            <value>
                <elementReference>CustomerClaimCategoryType.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delay_Length__c</field>
            <value>
                <elementReference>Delay_Length</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EuroBonus_Number__c</field>
            <value>
                <elementReference>EuroBonus_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Date__c</field>
            <value>
                <elementReference>flightDateToAssign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Number__c</field>
            <value>
                <elementReference>flightNumberToAssign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_PNR__c</field>
            <value>
                <elementReference>pNRToAssign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Current_Case_Information_0.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIR__c</field>
            <value>
                <elementReference>PIR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price__c</field>
            <value>
                <elementReference>Purchase_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Year__c</field>
            <value>
                <elementReference>Purchase_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Claim_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Number__c</field>
            <value>
                <elementReference>ticketNumberToAssign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Customer__c</field>
            <value>
                <elementReference>Type_of_Customer</elementReference>
            </value>
        </inputAssignments>
        <object>LIA_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Claim_Record_Type</name>
        <label>Get Claim Record Type</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Customer_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerClaim</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Case_Information_0</name>
        <label>Get Current Case Information</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Care_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_Customer_Claim_Information</name>
        <label>Update Case with Customer Claim Information</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Route_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultPath</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FCS_EBNumber__c</field>
            <value>
                <elementReference>EuroBonus_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initially_Provided_PNR__c</field>
            <value>
                <elementReference>pNRToAssign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIA_Claim__c</field>
            <value>
                <elementReference>Create_Customer_Claim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>providedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>FullCustomerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>teamToAssign</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Customer_Care_Creation</name>
        <label>Customer Care Creation</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_email_to_validate</targetReference>
        </connector>
        <fields>
            <name>GeneralInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Customer Claim General Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>instructionsDifferentExpensesAndCompesation</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 153, 0);&quot;&gt;﻿﻿Select &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 153, 0);&quot;&gt;Customer Claim Type &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 153, 0);&quot;&gt;ending in&lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 153, 0);&quot;&gt; &quot;- compensation”&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 153, 0);&quot;&gt; when a passenger is asking for flat rate compensation in accordance with &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 153, 0);&quot;&gt;EU261/2004 &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 153, 0); background-color: rgb(255, 255, 255);&quot;&gt;due to a delayed or cancelled flight or missed connection.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 153, 0); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 153, 0);&quot;&gt;Select&lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 153, 0);&quot;&gt; Customer Claim Type &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 153, 0);&quot;&gt;ending in &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 153, 0);&quot;&gt;&quot;- expenses&quot; &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 153, 0);&quot;&gt;when a passenger is asking to be &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 153, 0);&quot;&gt;reimbursed for expenses &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 153, 0);&quot;&gt;that occurred due to a delayed or cancelled flight or missed connection.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight disruptions</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CustomerClaimCategoryType</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>LIA_Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Customer_Claim_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Customer_Claim_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_of_Customer</name>
            <choiceReferences>TypeOfCustomerOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Customer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Claim_Firm</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Claim_Firm__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Claim Firm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LIA_Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Customer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Claim firm</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_s_Reference</name>
            <dataType>String</dataType>
            <fieldText>Customer&apos;s Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Customer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Claim firm</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments</name>
            <defaultValue>
                <stringValue>{!Get_Current_Case_Information_0.Description}</stringValue>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Care_Creation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Care_Creation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Concerns_an_unaccompanied_minor</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Concerns an unaccompanied minor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Care_Creation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Concerns_a_person_with_reduced_mobility</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Concerns a person with reduced mobility</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Care_Creation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Care_Creation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Current_Case_Information_0.SuppliedEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Care_Creation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EuroBonus_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Case_Information_0.FCS_EBNumber__c</elementReference>
                    </defaultValue>
                    <fieldText>EuroBonus Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;There are 9 numbers in a EuroBonus Number&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!EuroBonus_Number}) = 9</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Company_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Customer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other representative</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_Customer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Insurance company</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Company_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Company Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Customer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Insurance company</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_Customer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other representative</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Care_Creation_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Care_Creation_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street_Address</name>
                    <dataType>String</dataType>
                    <fieldText>Street Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Care_Creation_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CustomerCountry</name>
                    <choiceReferences>Country</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BaggageInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Baggage Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Baggage</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Care_Creation_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Care_Creation_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PIR</name>
                    <dataType>String</dataType>
                    <fieldText>PIR</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;PIR cannot be more than 10 characters, please validate the PIR number&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!PIR}) &lt; 11</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Care_Creation_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purchase_Price</name>
                    <dataType>Number</dataType>
                    <fieldText>Purchase Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CustomerClaimCategoryType.middleValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Baggage damaged</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Purchase_Year</name>
                    <dataType>Number</dataType>
                    <fieldText>Purchase Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;YYYY format&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please add valid year in YYYY format older than 1990&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Purchase_Year}&gt;= 1990 &amp;&amp; {!Purchase_Year}&lt; 2030</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CustomerClaimCategoryType.middleValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Baggage damaged</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Delay_Length</name>
                    <choiceReferences>delayLengthOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Delay Length</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CustomerClaimCategoryType.middleValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Baggage delayed/lost</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Baggage</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlightInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt; Flight Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Care_Creation_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Care_Creation_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PNR</name>
                    <dataType>String</dataType>
                    <fieldText>PNR</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Flight_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Flight Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Care_Creation_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ticket_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Ticket Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;No more than 20 characters are allowed for this field. You can only add one ticket number.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Ticket_Number}) &lt;= 20</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Flight_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Flight Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Baggage</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Care_Creation_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Care_Creation_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PNR1</name>
                    <dataType>String</dataType>
                    <fieldText>PNR</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Flight_Number1</name>
                    <dataType>String</dataType>
                    <fieldText>Flight Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Care_Creation_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ticket_Number1</name>
                    <dataType>String</dataType>
                    <fieldText>Ticket Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;No more than 20 characters are allowed for this field. You can only add one ticket number.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Ticket_Number1}) &lt;= 20</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Flight_Date1</name>
                    <dataType>Date</dataType>
                    <fieldText>Flight Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Baggage</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BankInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Bank Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Care_Creation_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Care_Creation_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank_Account_Holder_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Bank Account Holder Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bank_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Bank Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BankCountryCurrency</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>LIA_Claim__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Bank_Country__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Currency__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Bank Country</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Currency</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Care_Creation_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BIC_SWIFT</name>
                    <dataType>String</dataType>
                    <fieldText>BIC/SWIFT</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;BIC/SWIFT cannot be more than 11 characters. BIC/SWIFT should be formatted as: XXXXXXYY or XXXXXXYYYYY (X\&apos;s are letters, Y\&apos;s are letters or numbers)&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!BIC_SWIFT})  &lt;= 11</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Bank_Account_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Bank Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Bank Account Number cannot be more than 35 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Bank_Account_Number}) &lt;=35</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Claim_Message</name>
        <label>Customer Claim Message</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_Case_Information_0</targetReference>
        </connector>
        <fields>
            <name>Customer_Claim_Question</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Is this a new customer claim? &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If yes, click next&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Path</name>
        <label>Fault Path</label>
        <locationX>1106</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Segoe UI VSS (Regular)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, &amp;quot;system-ui&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Ubuntu, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Claim&amp;nbsp;cannot be created. There has been the below error:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please click on &quot;previous&quot; to correct the error and try again.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;If you cannot correct the error, please report the error using the Functional Product Support button.​&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultPath</name>
        <label>Fault Path</label>
        <locationX>842</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Segoe UI VSS (Regular)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, &amp;quot;system-ui&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Ubuntu, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;Claim&amp;nbsp;cannot be updated. There has been the below error:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please click on &quot;previous&quot; to correct the error and try again.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;If you cannot correct the error, please report the error using the Functional Product Support button.​&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_input</name>
        <label>Invalid input</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_email_to_validate_0</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!providedEmail} is not a valid email address and the customer claim cannot be created.&lt;/p&gt;&lt;p&gt;Please enter a valid email address in order to create the customer claim.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValidEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>you@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>providedEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Claim_Message</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flightDateToAssign</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flightNumberToAssign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pNRToAssign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Email to be validated</description>
        <name>providedEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teamToAssign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketNumberToAssign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
