sas-core/main/default/flows/CARE_Create_Settlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_State</name>
        <label>Get State</label>
        <locationX>402</locationX>
        <locationY>1454</locationY>
        <actionName>GetUsState</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Cheque_Settlement</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>zipCode</name>
            <value>
                <elementReference>Get_Customer_Claim.Postal_Code__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>states</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Created_Settlement</name>
        <label>Navigate To Created Settlement</label>
        <locationX>1502</locationX>
        <locationY>2054</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>Settlement__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>createdSettlementId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assignCustomerCount</name>
        <label>assignCustomerCount</label>
        <locationX>2184</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>countOfCustomerData</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Customer_Data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Customer_Data</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cheque</name>
        <choiceText>Cheque</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cheque</stringValue>
        </value>
    </choices>
    <choices>
        <name>EB_Points</name>
        <choiceText>EB Points</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EB Points</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monetary</name>
        <choiceText>Monetary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monetary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voucher</name>
        <choiceText>Voucher</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voucher</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Customer_Data</name>
        <label>Check Customer Data In Claim</label>
        <locationX>2184</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>NoCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Customer</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countOfCustomerData</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Settlement</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Country_Is_US</name>
        <label>If Country Is US</label>
        <locationX>402</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Warning_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Us Country</defaultConnectorLabel>
        <rules>
            <name>countryIsUs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Claim.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_State</targetReference>
            </connector>
            <label>Country is US</label>
        </rules>
    </decisions>
    <decisions>
        <name>InProgress</name>
        <label>Is Case Valid</label>
        <locationX>1590</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>NoSettlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>caseRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Claim.Case__r.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Customer_Claim.Case__r.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Customer_Claim.Case__r.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Record_Not_Valid</targetReference>
            </connector>
            <label>Case Record Type</label>
        </rules>
        <rules>
            <name>caseStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Claim.Case__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Data</targetReference>
            </connector>
            <label>Case Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_Type</name>
        <label>Settlement Type</label>
        <locationX>1502</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cheque_Settlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Settlement_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cheque</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Country_Is_US</targetReference>
            </connector>
            <label>Cheque Settlement</label>
        </rules>
        <rules>
            <name>EB_Points_Settlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Settlement_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EB Points</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_EB_Points_Settlement</targetReference>
            </connector>
            <label>EB Points Settlement</label>
        </rules>
        <rules>
            <name>Monetary_Settlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Settlement_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monetary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Monetary_Settlement</targetReference>
            </connector>
            <label>Monetary  Settlement</label>
        </rules>
        <rules>
            <name>Voucher_Settlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Settlement_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Voucher_Settlement</targetReference>
            </connector>
            <label>Voucher Settlement</label>
        </rules>
    </decisions>
    <description>No BIC validation</description>
    <dynamicChoiceSets>
        <name>voucherTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Voucher_Type__c</picklistField>
        <picklistObject>Settlement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Used to identify settlements related to an emergency claim and to provide access to only the emergency group</description>
        <name>emergencyClaimIdentifier</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Customer_Claim.RecordType.Name} = &quot;EmergencyClaim&quot;, true, false)</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CARE Create Settlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARE Create Settlement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cheque_Settlement</name>
        <label>Create Cheque Settlement</label>
        <locationX>402</locationX>
        <locationY>1574</locationY>
        <assignRecordIdToReference>createdSettlementId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_To_Created_Settlement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultPath1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Address_line_1__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_line_2__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Country__c</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Customer_Claim.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EuroBonus_Number__c</field>
            <value>
                <elementReference>Get_Customer_Claim.EuroBonus_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEmergencyClaim__c</field>
            <value>
                <elementReference>emergencyClaimIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Bank_Account_Holder_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_reference__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Customer_s_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>states</elementReference>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_EB_Points_Settlement</name>
        <label>Create EB Points Settlement</label>
        <locationX>1018</locationX>
        <locationY>1118</locationY>
        <assignRecordIdToReference>createdSettlementId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_To_Created_Settlement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Address_line_1__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_line_2__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Customer_Claim.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EuroBonus_Number__c</field>
            <value>
                <elementReference>Get_Customer_Claim.EuroBonus_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEmergencyClaim__c</field>
            <value>
                <elementReference>emergencyClaimIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Monetary_Settlement</name>
        <label>Create Monetary Settlement</label>
        <locationX>1546</locationX>
        <locationY>1118</locationY>
        <assignRecordIdToReference>createdSettlementId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_To_Created_Settlement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultPath</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Address_line_1__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_line_2__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BIC_Swift__c</field>
            <value>
                <elementReference>Get_Customer_Claim.BIC_Swift__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Bank_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Country__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Bank_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Bank_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Customer_Claim.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEmergencyClaim__c</field>
            <value>
                <elementReference>emergencyClaimIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Bank_Account_Holder_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_reference__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Customer_s_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Voucher_Settlement</name>
        <label>Create Voucher Settlement</label>
        <locationX>2074</locationX>
        <locationY>1118</locationY>
        <assignRecordIdToReference>createdSettlementId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_To_Created_Settlement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Address_line_1__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_line_2__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Address_line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Country__c</field>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Customer_Claim.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEmergencyClaim__c</field>
            <value>
                <elementReference>emergencyClaimIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_First_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Contact_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Last_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Contact_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Name__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voucher_Email__c</field>
            <value>
                <elementReference>Get_Customer_Claim.Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voucher_Type__c</field>
            <value>
                <elementReference>Voucher_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Customer_Claim</name>
        <label>Get Customer Claim Information</label>
        <locationX>1590</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InProgress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LIA_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Customer Data</description>
        <name>Get_Customer_Data</name>
        <label>Get Customer Data</label>
        <locationX>2184</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCustomerCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>1502</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Settlement_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Settlement_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Record_Not_Valid</name>
        <label>Case Record Not Valid</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>invalidCaseRecord</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Case Record is Not Valid&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Can not create Settlement for {!Get_Customer_Claim.Case__r.RecordType.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_a_Settlement</name>
        <label>Create a Settlement</label>
        <locationX>1502</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>Select_Settlement_Type</name>
            <choiceReferences>Monetary</choiceReferences>
            <choiceReferences>EB_Points</choiceReferences>
            <choiceReferences>Voucher</choiceReferences>
            <choiceReferences>Cheque</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Settlement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Voucher_Type</name>
            <choiceReferences>voucherTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Voucher Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Settlement_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voucher</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Path</name>
        <label>Fault Path</label>
        <locationX>1282</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Can not create settlement. Please review the error: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Path1</name>
        <label>Fault Path</label>
        <locationX>2338</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Can not create settlement. Please review below error: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultPath</name>
        <label>Fault Path</label>
        <locationX>1810</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_scrren</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Can not create settlement. Please review below error:  &lt;/strong&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultPath1</name>
        <label>Fault Path</label>
        <locationX>754</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Can not create settlement. Please review below error:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoCustomer</name>
        <label>Can Not Create Settlement</label>
        <locationX>2866</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoDataError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(34, 33, 33);&quot;&gt;*Can not create settlement, &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(34, 33, 33); background-color: rgb(255, 255, 255);&quot;&gt; Claim does not have any Customer.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoSettlement</name>
        <label>Can Not Create Settlement</label>
        <locationX>3130</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(21, 20, 20); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;*Can not create Settlement. Case Status should be &quot;In Progress&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning Screen</label>
        <locationX>490</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_State</targetReference>
        </connector>
        <fields>
            <name>screenMessage</name>
            <fieldText>&lt;p&gt;*You are going to create cheque settlement for Non US country. Cheque settlement are supported only for US&lt;span style=&quot;color: rgb(106, 153, 85);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1464</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Customer_Claim</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>countOfCustomerData</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>createdSettlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>states</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zipCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
