sas-core/main/default/flows/CASE_Generate_Survey_Invitation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Has_a_survey_been_found</name>
        <label>Has a survey been found?</label>
        <locationX>710</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Id_for_Customer_Feedback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Survey_Id_for_CSI_Corporate_Support_Scandinavia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Survey_Id_for_CSI_EuroBonus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Survey_Id_for_CSI_Group_Sales</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Survey_Id_for_CSI_Group_Sales_Scandinavia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Invitation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_survey_to_send</name>
        <label>What survey to send?</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSI_Corporate_Support_Scandinavia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Scandinavia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Id_for_CSI_Corporate_Support_Scandinavia</targetReference>
            </connector>
            <label>CSI Corporate Support Scandinavia</label>
        </rules>
        <rules>
            <name>CSI_EuroBonus</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diamond DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diamond NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diamond SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pandion DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pandion NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pandion SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Id_for_CSI_EuroBonus</targetReference>
            </connector>
            <label>CSI EuroBonus</label>
        </rules>
        <rules>
            <name>CSI_Group_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benelux</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Id_for_CSI_Group_Sales</targetReference>
            </connector>
            <label>CSI Group Sales</label>
        </rules>
        <rules>
            <name>CSI_Group_Sales_Scandinavia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Id_for_CSI_Group_Sales_Scandinavia</targetReference>
            </connector>
            <label>CSI Group Sales Scandinavia</label>
        </rules>
        <rules>
            <name>Customer_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Id_for_Customer_Feedback</targetReference>
            </connector>
            <label>Customer Feedback</label>
        </rules>
    </decisions>
    <description>Contains the logic to generate the survey invitation link based on the case</description>
    <formulas>
        <name>surveyInvitationLink</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!caseRecord.Origin}, &quot;Chat&quot;), {!surveyLinkChatLanguageDefaulted}, IF({!Get_Survey_Id_for_CSI_Group_Sales} = true, {!surveyLinkEnglishDefaulted}, {!Get_Survey_Invitation_Link.InvitationLink}))</expression>
    </formulas>
    <formulas>
        <name>surveyLinkChatLanguageDefaulted</name>
        <dataType>String</dataType>
        <expression>{!Get_Survey_Invitation_Link.InvitationLink} + &quot;&amp;guestUserLang=&quot; + {!caseRecord.FCS_SurveyLanguage__c}</expression>
    </formulas>
    <formulas>
        <name>surveyLinkEnglishDefaulted</name>
        <dataType>String</dataType>
        <expression>{!Get_Survey_Invitation_Link.InvitationLink} + &quot;&amp;guestUserLang=en-US&quot;</expression>
    </formulas>
    <interviewLabel>CASE Generate Survey Invitation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE Generate Survey Invitation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey_Invitation</name>
        <label>Create Survey Invitation</label>
        <locationX>578</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Get_Survey_Invitation_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>SAScommunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_RelatedCase__c</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>caseRecord.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SASCommunityId</name>
        <label>Get SASCommunityId</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_survey_to_send</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAS</stringValue>
            </value>
        </filters>
        <object>Network</object>
        <outputAssignments>
            <assignToReference>SAScommunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Id_for_CSI_Corporate_Support_Scandinavia</name>
        <label>Get Survey Id for CSI Corporate Support Scandinavia</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_survey_been_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSI Corporate Support Scandinavia</stringValue>
            </value>
        </filters>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>surveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Id_for_CSI_EuroBonus</name>
        <label>Get Survey Id for CSI EuroBonus</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_survey_been_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSI EuroBonus</stringValue>
            </value>
        </filters>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>surveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Id_for_CSI_Group_Sales</name>
        <label>Get Survey Id for CSI Group Sales</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_survey_been_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSI Group Sales</stringValue>
            </value>
        </filters>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>surveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Id_for_CSI_Group_Sales_Scandinavia</name>
        <label>Get Survey Id for CSI Group Sales Scandinavia</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_survey_been_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSI Group Sales Scandinavia</stringValue>
            </value>
        </filters>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>surveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Id_for_Customer_Feedback</name>
        <label>Get Survey Id for Customer Feedback</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_survey_been_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Feedback</stringValue>
            </value>
        </filters>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>surveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Invitation_Link</name>
        <label>Get Survey Invitation Link</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Survey_Information_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Survey_Invitation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Survey_Information_to_Case</name>
        <label>Update Survey Information to Case</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FCS_LatestSurveyInvitation__c</field>
            <value>
                <elementReference>Create_Survey_Invitation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_SurveyInvitationLink__c</field>
            <value>
                <elementReference>surveyInvitationLink</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SASCommunityId</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SAScommunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>surveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
