sas-core/main/default/flows/CASE_Route_And_Set_Priority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Case_To_Update_List</name>
        <label>Add Case To Update List</label>
        <locationX>792</locationX>
        <locationY>1502</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_Baggage</name>
        <label>Route To Baggage</label>
        <locationX>1056</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Baggage_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_Flight_Disruptions</name>
        <label>Route To Flight Disruptions</label>
        <locationX>792</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flight_Disruptions_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_High_Care_Costs</name>
        <label>Route To High Care Costs</label>
        <locationX>528</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High_Care_Costs_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_High_Priority</name>
        <label>Route To High Priority</label>
        <locationX>264</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High_Priority_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_Other</name>
        <label>Route To Other</label>
        <locationX>1320</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Baggage_Queue</name>
        <label>Set Baggage Queue</label>
        <locationX>1056</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Baggage_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flight_Disruptions_Queue</name>
        <label>Set Flight Disruptions Queue</label>
        <locationX>792</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Flight_Disruptions_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_High_Care_Cost_Queue</name>
        <label>Set High Care Cost Queue</label>
        <locationX>528</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>High_Care_Costs_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_High_Priority_Queue</name>
        <label>Set High Priority Queue</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>High_Priority_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Queue</name>
        <label>Set Other Queue</label>
        <locationX>1320</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Other_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_To_High</name>
        <label>Set Priority To Medium</label>
        <locationX>660</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_To_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Should_The_Case_Have_A_Special_Priority</name>
        <label>Should The Case Have A Special Priority?</label>
        <locationX>792</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Add_Case_To_Update_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>High_Priority_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_To_High</targetReference>
            </connector>
            <label>Yes, High Priority (INACTIVE)</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Queue_Is_It</name>
        <label>What Queue Is It?</label>
        <locationX>792</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_Other_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>High_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - High Priority</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_High_Priority_Queue</targetReference>
            </connector>
            <label>High Priority</label>
        </rules>
        <rules>
            <name>High_Care_Costs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - High Care Costs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_High_Care_Cost_Queue</targetReference>
            </connector>
            <label>High Care Costs</label>
        </rules>
        <rules>
            <name>Flight_Disruptions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - Flight Disruptions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flight_Disruptions_Queue</targetReference>
            </connector>
            <label>Flight Disruptions</label>
        </rules>
        <rules>
            <name>Baggage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - Baggage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Baggage_Queue</targetReference>
            </connector>
            <label>Baggage</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Queue_Is_It_0</name>
        <label>What Queue Is It?</label>
        <locationX>792</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Route_To_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>High_Priority_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_High_Priority</targetReference>
            </connector>
            <label>High Priority</label>
        </rules>
        <rules>
            <name>High_Care_Costs_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Submitted_Claim_Expenses_in_SEK__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>25000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_High_Care_Costs</targetReference>
            </connector>
            <label>High Care Costs</label>
        </rules>
        <rules>
            <name>Flight_Disruptions_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight disruptions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_Flight_Disruptions</targetReference>
            </connector>
            <label>Flight Disruptions</label>
        </rules>
        <rules>
            <name>Baggage_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baggage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_Baggage</targetReference>
            </connector>
            <label>Baggage</label>
        </rules>
    </decisions>
    <description>Sets the priority of the Case and routes it to the appropriate queue. Needs the relevant queues as input.</description>
    <environments>Default</environments>
    <interviewLabel>CASE: Route And Set Priority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE: Route And Set Priority</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>176</locationX>
        <locationY>710</locationY>
        <collectionReference>Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Queue_Is_It_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Route_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Group_Variables</name>
        <label>Set Group Variables</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Queue_Is_It</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Route_Cases</name>
        <label>Route Cases</label>
        <locationX>176</locationX>
        <locationY>1718</locationY>
        <inputReference>CasesToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Baggage_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Flight_Disruptions_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Groups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>High_Care_Costs_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>High_Priority_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Other_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
