sas-core/main/default/flows/CASE_Process_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>The variable holds the teams that require sending a survey to the customer once the case is closed</description>
        <name>Assign_the_teams_for_sending_surveys</name>
        <label>Assign the teams for sending surveys</label>
        <locationX>484</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Gold DK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Gold NO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Gold SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Diamond DK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Diamond NO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Diamond SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pandion DK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pandion NO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pandion SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Support Scandinavia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ACE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>AT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Benelux</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ES</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>RU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_a_survey_invitation_be_created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Close_the_Case_directly</name>
        <label>Close the Case directly</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Notify_Case_Owner_of_New_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Customer_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_the_Case</targetReference>
            </connector>
            <label>Email - Customer Claim</label>
        </rules>
        <rules>
            <name>Email_SAS_Poland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - SAS Poland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_the_Case</targetReference>
            </connector>
            <label>Email - SAS Poland</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notify_Case_Owner_of_New_Response</name>
        <label>Notify Case Owner of New Response</label>
        <locationX>484</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Liability_Notify_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Owner_Liability</targetReference>
            </connector>
            <label>Liability - Notify Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_a_survey_invitation_be_created</name>
        <label>Should a survey invitation be created?</label>
        <locationX>484</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendChatSurveyOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Automated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FCS_LatestSurveyInvitation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Invitation_for_chat</targetReference>
            </connector>
            <label>Yes - Survey for Chat Cases</label>
        </rules>
        <rules>
            <name>Yes_Survey_for_Closed_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FCS_LatestSurveyInvitation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>teamsForSurveys</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>caseTeamName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>corporatesupport@sas.se</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>no-reply@flysas.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>travel@orsted.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>kundeserviceavdeling@sas.no</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Invitation_for_email_sending</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Survey for Closed Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Case_Fields</name>
        <label>Update Case Fields</label>
        <locationX>484</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Assign_the_teams_for_sending_surveys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_First_Closing_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FCS_IsReopened__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FCS_FirstClosingDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_Closing_Date</targetReference>
            </connector>
            <label>Set First Closing Date</label>
        </rules>
        <rules>
            <name>Is_Reopened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reopened_Count</targetReference>
            </connector>
            <label>Is Reopened</label>
        </rules>
    </decisions>
    <description>Flow to replace old Case Process Builder</description>
    <environments>Default</environments>
    <formulas>
        <name>caseTeamName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Team__c})</expression>
    </formulas>
    <formulas>
        <name>newReopenedCount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.FCS_ReopenedCount__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CASE Process Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE Process Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Close_the_Case</name>
        <label>Close the Case</label>
        <locationX>176</locationX>
        <locationY>1919</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_First_Closing_Date</name>
        <label>Update First Closing Date</label>
        <locationX>220</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Assign_the_teams_for_sending_surveys</targetReference>
        </connector>
        <inputAssignments>
            <field>FCS_FirstClosingDate__c</field>
            <value>
                <elementReference>$Record.ClosedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reopened_Count</name>
        <label>Update Reopened Count</label>
        <locationX>484</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>FCS_ReopenedCount__c</field>
            <value>
                <elementReference>newReopenedCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_the_Case_directly</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Survey_Invitation_for_chat</name>
        <label>Create Survey Invitation for chat</label>
        <locationX>220</locationX>
        <locationY>1487</locationY>
        <flowName>CASE_Generate_Survey_Invitation</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Survey_Invitation_for_email_sending</name>
        <label>Create Survey Invitation for email sending</label>
        <locationX>484</locationX>
        <locationY>1487</locationY>
        <flowName>CASE_Generate_Survey_Invitation</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Notify_Owner_Liability</name>
        <label>Notify Owner - Liability</label>
        <locationX>352</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Case_Fields</targetReference>
        </connector>
        <flowName>UTIL_Send_Notification_to_User</flowName>
        <inputAssignments>
            <name>notificationBody</name>
            <value>
                <elementReference>newResponseBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationTitle</name>
            <value>
                <elementReference>newResponseTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationType</name>
            <value>
                <stringValue>NewResponse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>newResponseBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have a new response on Case: {!$Record.CaseNumber} that you are the owner of.</text>
    </textTemplates>
    <textTemplates>
        <name>newResponseTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Response {!$Record.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>teamsForSurveys</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
