sas-core/main/default/flows/CLAIM_Settlement_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Random_Number_Check</name>
        <label>Random Number Check</label>
        <locationX>754</locationX>
        <locationY>158</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Settlement_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>randomCheckForManualApproval</assignToReference>
            <name>randomNumber</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AutomaticApproval</name>
        <label>AutomaticApproval</label>
        <locationX>1458</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NeedsManuallyApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Settlement_Status_to_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ManualApproval</name>
        <label>ManualApproval</label>
        <locationX>754</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>NeedsManuallyApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Amount_in_SEK</name>
        <label>Amount in SEK</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>AutomaticApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1000 or less</defaultConnectorLabel>
        <rules>
            <name>More_than_10000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.Settlement_amount_in_SEK__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManualApproval</targetReference>
            </connector>
            <label>More than 10000</label>
        </rules>
        <rules>
            <name>Between_1000_and_10000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.Settlement_amount_in_SEK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingRecord.Settlement_amount_in_SEK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Random_Check_Monetary</targetReference>
            </connector>
            <label>Between 1000 and 10000</label>
        </rules>
    </decisions>
    <decisions>
        <name>EB_points_amount</name>
        <label>EB points amount</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>AutomaticApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>60000 or less</defaultConnectorLabel>
        <rules>
            <name>More_than_60000_user_limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.EuroBonus_Points__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManualApproval</targetReference>
            </connector>
            <label>More than 60000 or user limit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Random_Check_Monetary</name>
        <label>Random Check Monetary</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>ManualApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual_Approval_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>randomCheckForManualApproval</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AutomaticApproval</targetReference>
            </connector>
            <label>Manual Approval Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_Type</name>
        <label>Settlement Type</label>
        <locationX>754</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Direct_to_Manual_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>randomCheckForManualApproval</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManualApproval</targetReference>
            </connector>
            <label>Direct to Manual Approval</label>
        </rules>
        <rules>
            <name>EB_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EB Points</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EB_points_amount</targetReference>
            </connector>
            <label>EB Points</label>
        </rules>
        <rules>
            <name>Monetary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monetary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_in_SEK</targetReference>
            </connector>
            <label>Monetary</label>
        </rules>
        <rules>
            <name>Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voucher_amount_in_SEK</targetReference>
            </connector>
            <label>Voucher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voucher_amount_in_SEK</name>
        <label>Voucher amount in SEK</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>AutomaticApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>15000 or less</defaultConnectorLabel>
        <rules>
            <name>More_than_15000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.Settlement_amount_in_SEK__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>15000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManualApproval</targetReference>
            </connector>
            <label>More than 15000</label>
        </rules>
    </decisions>
    <interviewLabel>CLAIM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLAIM Settlement Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Approval_Request</name>
        <label>Create Approval Request</label>
        <locationX>1458</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement__c</field>
            <value>
                <elementReference>incomingRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Set_Settlement_Status_to_Approved</name>
        <label>Set Settlement Status to Approved</label>
        <locationX>1458</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Create_Approval_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Waiting for control</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Random_Number_Check</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>incomingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Settlement__c</objectType>
    </variables>
    <variables>
        <name>NeedsManuallyApproval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>randomCheckForManualApproval</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
