sas-core/main/default/flows/CLAIM_Control_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Unlock_Settlement</name>
        <label>Unlock Settlement</label>
        <locationX>1282</locationX>
        <locationY>1718</locationY>
        <actionName>UnlockRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Unlock_all_related_Settlements</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>Unlock_all_related_Settlements.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>rejectedChoice</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>verifiedChoice</name>
        <choiceText>Verified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verified</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Control_finished</name>
        <label>Is Control finished</label>
        <locationX>578</locationX>
        <locationY>1718</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfSettlementsNeedingControl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfSettlementsNeedingControl</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_approved</name>
        <label>Is it approved?</label>
        <locationX>886</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Rejected_request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Control_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approverequest</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_status_is_valid</name>
        <label>Settlement status is valid</label>
        <locationX>1304</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_updated_Settlement_Information.Settlement_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for control</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_control_verified_in_settlement</targetReference>
            </connector>
            <label>Valid Status</label>
        </rules>
        <rules>
            <name>Invalid_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_updated_Settlement_Information.Settlement_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for control</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Settlement_Status</targetReference>
            </connector>
            <label>Invalid status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_reviewing_the_settlement</name>
        <label>Who is reviewing the settlement?</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Waiting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitter_User_is_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_related_to_Settlement.Approval_Submitter__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Case_related_to_Settlement.Owner:User.Username</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_related_to_Settlement.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Control</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Group_Member_record_for_user_and_control_group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_screen</targetReference>
            </connector>
            <label>Submitter User is inactive</label>
        </rules>
        <rules>
            <name>Control_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Case_related_to_Settlement.Owner:User.Username</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_related_to_Settlement.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Control</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Group_Member_record_for_user_and_control_group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Control_Request</targetReference>
            </connector>
            <label>Control User</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailableRejectionReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rejection_Reason__c</picklistField>
        <picklistObject>Approval_Request__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>siteTeamLead</name>
        <dataType>String</dataType>
        <expression>if(TEXT({!Get_Case_related_to_Settlement.Approval_Submitter__r.FCS_Vendor__c}) == &apos;Sutherland&apos;, &apos;Danish Qureshi&apos; , if(TEXT({!Get_Case_related_to_Settlement.Approval_Submitter__r.FCS_Vendor__c}) == &quot;Student Consulting&quot;, &quot;Josephine Forsberg&quot;, if(TEXT({!Get_Case_related_to_Settlement.Approval_Submitter__r.FCS_Vendor__c}) == &quot;SAS&quot;, &quot;Markus Jonsson&quot;, if(TEXT({!Get_Case_related_to_Settlement.Approval_Submitter__r.FCS_Vendor__c}) == &quot;Sykes&quot;, &quot;Markus Jonsson&quot;,null))))</expression>
    </formulas>
    <formulas>
        <name>status</name>
        <dataType>String</dataType>
        <expression>IF({!Control_Status} = &quot;Approved&quot; , &quot;Waiting for Transfer&quot;, &quot;Denied&quot;)</expression>
    </formulas>
    <interviewLabel>CLAIM Control Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLAIM Manual Control</label>
    <loops>
        <name>Unlock_all_related_Settlements</name>
        <label>Unlock all related Settlements</label>
        <locationX>1194</locationX>
        <locationY>1598</locationY>
        <collectionReference>Get_related_Settlements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Unlock_Settlement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Settlement_Status_Denied</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Approverequest</name>
        <label>Approve request</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Update_Settlement_Status_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>Control_Reason__c</field>
            <value>
                <elementReference>Get_Settlement_Information.Control_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Control</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Rejected_request</name>
        <label>Rejected request</label>
        <locationX>1194</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Get_related_Settlements</targetReference>
        </connector>
        <inputAssignments>
            <field>Control_Reason__c</field>
            <value>
                <elementReference>Get_Settlement_Information.Control_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Comment__c</field>
            <value>
                <elementReference>Rejection_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Control_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Control</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_related_to_Settlement</name>
        <label>Get Case related to Settlement</label>
        <locationX>1018</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Control_public_group_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LIA_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Settlement_Information.Claim__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Control_public_group_id</name>
        <label>Get Control public group id</label>
        <locationX>1018</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member_record_for_user_and_control_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Control</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member_record_for_user_and_control_group</name>
        <label>Get Group Member record for user and control group</label>
        <locationX>1018</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_is_reviewing_the_settlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Control_public_group_id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Settlements</name>
        <label>Get related Settlements</label>
        <locationX>1194</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unlock_all_related_Settlements</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_updated_Settlement_Information.Claim__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for control</stringValue>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Controlled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Settlement_Information</name>
        <label>Get Settlement Information</label>
        <locationX>1018</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_related_to_Settlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_updated_Settlement_Information</name>
        <label>Get updated Settlement Information</label>
        <locationX>1304</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Settlement_status_is_valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_control_verified_in_settlement</name>
        <label>Update control verified in settlement</label>
        <locationX>886</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Is_it_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Control_verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_other_Settlements</name>
        <label>Update other Settlements</label>
        <locationX>1194</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Send_Case_Rejection_Notification</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_updated_Settlement_Information.Claim__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for control</stringValue>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Controlled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Settlement_Status_Approved</name>
        <label>Update Settlement Status - Approved</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Have_all_Settlements_for_this_Claim_been_controlled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Settlement_Information.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Control_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Control_verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Controlled</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Settlement_Status_Denied</name>
        <label>Update Settlement Status - Denied</label>
        <locationX>1194</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Update_other_Settlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Settlement_Information.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Control_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Control_Request</name>
        <label>Control Request</label>
        <locationX>1304</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_updated_Settlement_Information</targetReference>
        </connector>
        <fields>
            <name>ControlReason</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Control Reason(s) :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Settlement_Information.Control_Reason__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Control_Status</name>
            <choiceReferences>verifiedChoice</choiceReferences>
            <choiceReferences>rejectedChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Control Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rejection_Reason</name>
            <choiceReferences>AvailableRejectionReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Control_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Rejected</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Comments</name>
            <dataType>String</dataType>
            <fieldText>Rejection Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Control_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Rejected</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_screen</name>
        <label>error screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;*﻿&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Case can not be controlled because approval submitter &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Case_related_to_Settlement.Approval_Submitter__r.FirstName} {!Get_Case_related_to_Settlement.Approval_Submitter__r.LastName} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;from &apos;{!Get_Case_related_to_Settlement.Approval_Submitter__r.FCS_Vendor__c} Vendor&apos; and &apos;{!Get_Case_related_to_Settlement.Approval_Submitter__r.FCS_Site__c} Site&apos; is inactive.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;Please assign case to &lt;/em&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;{!siteTeamLead}&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt; and write chatter post. &quot;Inactive user please recall the case and assign it to an active agent that should submit the case for approval again.&quot;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Settlement_Status</name>
        <label>Invalid Settlement Status</label>
        <locationX>1458</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>invalidStatusMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Settlement has been updated since loading the page. Please refresh the page to see the latest changes!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Waiting</name>
        <label>Waiting</label>
        <locationX>1986</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WaitingMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Control verification is ongoing&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>892</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Settlement_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Approve_Case</name>
        <label>Approve Case</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <flowName>CLAIM_Settlement_Approved</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_related_to_Settlement.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Have_all_Settlements_for_this_Claim_been_controlled</name>
        <label>Have all Settlements for this Claim been controlled</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Is_Control_finished</targetReference>
        </connector>
        <flowName>UTIL_Count_Number_of_Settlements_for_Status</flowName>
        <inputAssignments>
            <name>claimId</name>
            <value>
                <elementReference>Get_Settlement_Information.Claim__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>statusToCheck</name>
            <value>
                <stringValue>Waiting for control</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>numberOfSettlementsNeedingControl</assignToReference>
            <name>numberOfSettlementsInStatus</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_Case_Rejection_Notification</name>
        <label>Send Case Rejection Notification</label>
        <locationX>1194</locationX>
        <locationY>2174</locationY>
        <flowName>CLAIM_Case_Rejected</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_related_to_Settlement.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Approval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Request__c</objectType>
    </variables>
    <variables>
        <name>approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>controlNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>controlQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>controlVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberOfSettlementsNeedingControl</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
