sas-core/main/default/flows/CLAIM_Control_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Does_it_need_control</name>
        <label>Does it need control?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Control_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>controlNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Control_Queue_Id</targetReference>
            </connector>
            <label>Control Needed</label>
        </rules>
        <rules>
            <name>No_Control_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>controlNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_Settlement</targetReference>
            </connector>
            <label>No Control Needed</label>
        </rules>
    </decisions>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>CLAIM Control Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLAIM Control Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Approval_Request</name>
        <label>Create Approval Request</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Does_it_need_control</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Manual Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Approve_Settlement</name>
        <label>Approve Settlement</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Last_Approval_Date__c</field>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Waiting for transfer</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Settlement_to_Control_Queue</name>
        <label>Assign Settlement to Control Queue</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Needs_Control__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>controlQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Waiting for control</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Control_Evaluation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Control_Evaluation</name>
        <label>Control Evaluation</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Create_Approval_Request</targetReference>
        </connector>
        <flowName>CLAIM_Control</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>controlNeeded</assignToReference>
            <name>ControlNeeded</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Control_Queue_Id</name>
        <label>Get Control Queue Id</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assign_Settlement_to_Control_Queue</targetReference>
        </connector>
        <flowName>Retrieve_Queue_Id</flowName>
        <inputAssignments>
            <name>QueueName</name>
            <value>
                <stringValue>Control</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>controlQueueId</assignToReference>
            <name>QueueId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>controlNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>controlQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
