sas-core/main/default/flows/CLAIM_Case_Control_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Case_needs_manual_control</name>
        <label>Case needs manual control</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfManualControlsNeeded</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Control_Queue_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfManualControlsNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish_Case</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>CLAIM Case Control Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLAIM Case Control Handler</label>
    <loops>
        <name>Approve_each_Settlement</name>
        <label>Approve each Settlement</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Settlements_related_to_Claim</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluate_Control_for_each_Settlement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_number_of_Settlements_needing_Control</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Settlements_related_to_Claim</name>
        <label>Get Settlements related to Claim</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_each_Settlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingCaseRecord.LIA_Claim__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for control</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Case_to_Control</name>
        <label>Assign Case to Control</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>controlQueueId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Settlements_related_to_Claim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_number_of_Settlements_needing_Control</name>
        <label>Check number of Settlements needing Control</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Case_needs_manual_control</targetReference>
        </connector>
        <flowName>UTIL_Count_Number_of_Settlements_for_Status</flowName>
        <inputAssignments>
            <name>claimId</name>
            <value>
                <elementReference>incomingCaseRecord.LIA_Claim__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>statusToCheck</name>
            <value>
                <stringValue>Waiting for control</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>numberOfManualControlsNeeded</assignToReference>
            <name>numberOfSettlementsInStatus</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_Control_for_each_Settlement</name>
        <label>Evaluate Control for each Settlement</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Approve_each_Settlement</targetReference>
        </connector>
        <flowName>CLAIM_Control_Evalutation</flowName>
        <inputAssignments>
            <name>incomingRecord</name>
            <value>
                <elementReference>Approve_each_Settlement</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Finish_Case</name>
        <label>Finish Case</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <flowName>CLAIM_Settlement_Approved</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>incomingCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Control_Queue_Id</name>
        <label>Get Control Queue Id</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Assign_Case_to_Control</targetReference>
        </connector>
        <flowName>Retrieve_Queue_Id</flowName>
        <inputAssignments>
            <name>QueueName</name>
            <value>
                <stringValue>Control</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>controlQueueId</assignToReference>
            <name>QueueId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>controlQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Settlements_needing_manual_approval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Settlement__c</objectType>
    </variables>
    <variables>
        <name>incomingCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>numberOfManualControlsNeeded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
