sas-core/main/default/flows/CLAIM_Submit_Case_to_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Case_can_be_submitted_for_Approval</name>
        <label>Case can be submitted for Approval</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>errorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Information.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>submitScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>CLAIM Submit Case to Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLAIM Submit Case to Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Information</name>
        <label>Get Case Information</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_can_be_submitted_for_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_Settlements_for_this_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Information.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting for Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Settlements_for_this_Case</name>
        <label>Update Settlements for this Case</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Send_Case_to_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Information.LIA_Claim__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Waiting for approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>errorScreen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;Case cannot be sent to approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>submitScreen</name>
        <label>Submit Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <fields>
            <name>submitMessage</name>
            <fieldText>&lt;p&gt;Case has been sent to approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Case_to_Approval</name>
        <label>Send Case to Approval</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <flowName>CLAIM_Case_Approval_Handler</flowName>
        <inputAssignments>
            <name>incomingCaseRecord</name>
            <value>
                <elementReference>Get_Case_Information</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
