sas-core/main/default/flows/CLAIM_Control_Evalutation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Count_related_Settlements</name>
        <label>Count related Settlements</label>
        <locationX>886</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>numberOfSettlements</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>relatedSettlements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Settlement_be_flagged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EB_points_high_amount</name>
        <label>EB points high amount</label>
        <locationX>1238</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>highAmountFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_in_related_Settlements_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flag_inactive_account</name>
        <label>Flag inactive account</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>inactiveAccountFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NeedsControl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Monetary_high_amount</name>
        <label>Monetary high amount</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>highAmountFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_in_related_Settlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NeedsControl</name>
        <label>NeedsControl</label>
        <locationX>985</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>controlNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>controlReasons</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controlReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Control_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoControl</name>
        <label>NoControl</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>controlNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>controlReasons</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_in_related_Settlements</name>
        <label>Store in related Settlements</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>relatedSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Other_Settlements_IBAN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Count_related_Settlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_in_related_Settlements_0</name>
        <label>Store in related Settlements</label>
        <locationX>886</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>relatedSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Other_Settlements_Voucher</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_related_Settlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_in_related_Settlements_0_0</name>
        <label>Store in related Settlements</label>
        <locationX>1370</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>relatedSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Other_Settlements_EB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Count_related_Settlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Voucher_high_amount</name>
        <label>Voucher high amount</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>highAmountFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_in_related_Settlements_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_High_Settlement_Amount_EB</name>
        <label>Check High Settlement Amount - EB</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Store_in_related_Settlements_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_high_amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.EuroBonus_Points__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EB_points_high_amount</targetReference>
            </connector>
            <label>Is high amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_High_Settlement_Amount_Monetary</name>
        <label>Check High Settlement Amount - Monetary</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Store_in_related_Settlements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_high_amount_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.Settlement_amount_in_SEK__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>200000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monetary_high_amount</targetReference>
            </connector>
            <label>Is high amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_High_Settlement_Amount_Voucher</name>
        <label>Check High Settlement Amount - Voucher</label>
        <locationX>886</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Store_in_related_Settlements_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_high_amount_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.Settlement_amount_in_SEK__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>200000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voucher_high_amount</targetReference>
            </connector>
            <label>Is high amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Settlement_Type</name>
        <label>Check Settlement Type</label>
        <locationX>985</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Monetary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monetary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bank_Account</targetReference>
            </connector>
            <label>Monetary</label>
        </rules>
        <rules>
            <name>Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Settlements_Voucher</targetReference>
            </connector>
            <label>Voucher</label>
        </rules>
        <rules>
            <name>EB_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EB points</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Settlements_EB</targetReference>
            </connector>
            <label>EB Points</label>
        </rules>
        <rules>
            <name>Cheque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cheque</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NeedsControl</targetReference>
            </connector>
            <label>Cheque</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Bank_Account_Number_exist_on_whitelist</name>
        <label>Does Bank Account Number exist on whitelist</label>
        <locationX>116</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Check_High_Settlement_Amount_Monetary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>bankAccountExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bank_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bank_Account.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingRecord.Settlement_amount_in_SEK__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>200000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>NoControl</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Inactive_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bank_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bank_Account.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_inactive_account</targetReference>
            </connector>
            <label>Inactive account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_settlement_related_to_an_emergency_claim</name>
        <label>Is the settlement related to an emergency claim?</label>
        <locationX>253</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Check_Settlement_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_emergency_claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingRecord.IsEmergencyClaim__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>NoControl</targetReference>
            </connector>
            <label>Yes - emergency claim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Settlement_be_flagged</name>
        <label>Should Settlement be flagged?</label>
        <locationX>886</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>NoControl</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>numberOfSettlements</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>highAmountFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingRecord.Submitter__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>incomingRecord.Approver__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NeedsControl</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>chequeMessage</name>
        <dataType>String</dataType>
        <expression>IF({!incomingRecord.RecordType.Name} = &apos;Cheque&apos;, &quot;Cheques always go to Control&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>controlReason</name>
        <dataType>String</dataType>
        <expression>if({!numberSettlementsMessage} == null ,&apos; &apos;, {!numberSettlementsMessage}&amp; BR()) +
if({!highAmountMessage} == null , &apos; &apos; ,{!highAmountMessage} &amp; BR())+
if({!inactiveAccountMessage} == null , &apos; &apos; , {!inactiveAccountMessage} &amp; BR())+
if({!chequeMessage} == null , &apos; &apos; , {!chequeMessage} &amp; BR())+
{!sameSubmitterAndApproverMessage}</expression>
    </formulas>
    <formulas>
        <name>controlReasonDetail</name>
        <dataType>String</dataType>
        <expression> IF({!incomingRecord.RecordType.Name} = &quot;Monetary&quot;, &quot;Bank account number&quot;, IF({!incomingRecord.RecordType.Name} = &quot;Voucher&quot;, &quot;Voucher Email&quot;, &quot;EB number&quot;))</expression>
    </formulas>
    <formulas>
        <name>highAmountMessage</name>
        <dataType>String</dataType>
        <expression>IF({!highAmountFlag} = true,&quot;High amount settlement&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>inactiveAccountMessage</name>
        <dataType>String</dataType>
        <expression>IF({!inactiveAccountFlag}, &quot;Settlement was sent to Control as the account connected to the Claim Firm is inactive&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>last12months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), -12)</expression>
    </formulas>
    <formulas>
        <name>numberSettlementsMessage</name>
        <dataType>String</dataType>
        <expression>IF({!numberOfSettlements} &gt;= 6 , {!controlReasonMessage},&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>sameSubmitterAndApproverMessage</name>
        <dataType>String</dataType>
        <expression>IF({!incomingRecord.Approver__r.Id} = {!incomingRecord.Submitter__r.Id},&quot;Submitter and Approver user are same&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>CLAIM Control Evalutation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLAIM Control Evalutation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bank_Account</name>
        <label>Get Bank Account</label>
        <locationX>116</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Other_Settlements_IBAN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bank_Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingRecord.Bank_Account_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bank_Account_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Settlements_EB</name>
        <label>Get Other Settlements - EB Points</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_High_Settlement_Amount_EB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>incomingRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>last12months</elementReference>
            </value>
        </filters>
        <filters>
            <field>EuroBonus_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingRecord.EuroBonus_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Settlements_IBAN</name>
        <label>Get Other Settlements - IBAN</label>
        <locationX>116</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Bank_Account_Number_exist_on_whitelist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>incomingRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bank_Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingRecord.Bank_Account_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>last12months</elementReference>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Settlements_Voucher</name>
        <label>Get Other Settlements - Voucher</label>
        <locationX>886</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_High_Settlement_Amount_Voucher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>incomingRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Voucher_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingRecord.Voucher_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>last12months</elementReference>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Control_Reason</name>
        <label>Update Control Reason</label>
        <locationX>985</locationX>
        <locationY>1886</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Control_Reason__c</field>
            <value>
                <elementReference>controlReasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Control__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>974</locationX>
        <locationY>1334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Control_verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Controlled</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>127</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_settlement_related_to_an_emergency_claim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>controlReasonMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This {!incomingRecord.RecordType.Name} settlement was flagged because {!controlReasonDetail} occurred {!numberOfSettlements} times within the last 12 months.</text>
    </textTemplates>
    <textTemplates>
        <name>controlReasonOutputMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!numberSettlementsMessage}
{!highAmountMessage}
{!inactiveAccountMessage}
{!chequeMessage}
{!sameSubmitterAndApproverMessage}</text>
    </textTemplates>
    <variables>
        <name>controlNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>controlReasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>highAmountFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inactiveAccountFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incomingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Settlement__c</objectType>
    </variables>
    <variables>
        <name>numberOfSettlements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>relatedSettlements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Settlement__c</objectType>
    </variables>
</Flow>
