sas-core/main/default/flows/CLAIM_Settlement_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lock_Settlement</name>
        <label>Lock Settlement</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>LockRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_settlement_for_manual_approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Does_it_need_manual_approval</name>
        <label>Does it need manual approval?</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Manual_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>needsManualApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approvers_Queue_Id</targetReference>
            </connector>
            <label>Manual Approval</label>
        </rules>
        <rules>
            <name>Automatic_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>needsManualApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_approval_request</targetReference>
            </connector>
            <label>Automatic Approval</label>
        </rules>
    </decisions>
    <interviewLabel>CLAIM Settlement Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLAIM Settlement Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Approve_approval_request</name>
        <label>Approve approval request</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_settlement_to_control</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type_Name</name>
        <label>Get Record Type Name</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lock_Settlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>settlementType</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Settlement_to_Approvers_Queue</name>
        <label>Assign Settlement to Approvers Queue</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>approversQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_settlement_to_control</name>
        <label>Update settlement to control</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Control_Process</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Waiting for control</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Name</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for approval</stringValue>
            </value>
        </filters>
        <object>Settlement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Control_Process</name>
        <label>Control Process</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <flowName>CLAIM_Control_Process</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_settlement_for_manual_approval</name>
        <label>Evaluate settlement for manual approval</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Does_it_need_manual_approval</targetReference>
        </connector>
        <flowName>CLAIM_Settlement_Evaluation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SettlementType</name>
            <value>
                <elementReference>settlementType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>needsManualApproval</assignToReference>
            <name>NeedsManuallyApproval</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Approvers_Queue_Id</name>
        <label>Get Approvers Queue Id</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Assign_Settlement_to_Approvers_Queue</targetReference>
        </connector>
        <flowName>Retrieve_Queue_Id</flowName>
        <inputAssignments>
            <name>QueueName</name>
            <value>
                <stringValue>Approvers</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>approversQueueId</assignToReference>
            <name>QueueId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>approversQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>needsManualApproval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>settlementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
