sas-core/main/default/flows/CLAIM_Manual_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Unlock_Settlement_0_0</name>
        <label>Unlock Settlement</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>UnlockRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Deny_Settlement_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Denied_or_Blocked</name>
        <label>Denied or Blocked?</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlock_Settlement_0_0</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_Settlement</targetReference>
            </connector>
            <label>Blocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_approved</name>
        <label>Is it approved?</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Reject_request_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blocked/Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_Approval_Request</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_reviewing_settlement</name>
        <label>Who is reviewing settlement?</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Settlement_Information.Owner:User.Username</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Request</targetReference>
            </connector>
            <label>Approver</label>
        </rules>
        <rules>
            <name>Other_users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Settlement_Information.Owner:User.Username</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message</targetReference>
            </connector>
            <label>Other users</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailableRejectionReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rejection_Reason__c</picklistField>
        <picklistObject>Approval_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AvailableStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Approval_Request__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CLAIM Manual Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLAIM Manual Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Approve_Approval_Request</name>
        <label>Approve Approval Request</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Settlement_to_Control_and_save_approver_s_name</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Approval_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Reject_request_0</name>
        <label>Reject request</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Denied_or_Blocked</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Comment__c</field>
            <value>
                <elementReference>Rejection_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Approval_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Settlement_Information</name>
        <label>Get Settlement Information</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_is_reviewing_settlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Settlement_to_Control_and_save_approver_s_name</name>
        <label>Update Settlement to Control and save approver&apos;s name</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Control_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Waiting for control</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approval_Request</name>
        <label>Approval Request</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_it_approved</targetReference>
        </connector>
        <fields>
            <name>Approval_Status</name>
            <choiceReferences>AvailableStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Submitted</stringValue>
            </defaultValue>
            <fieldText>Approval Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rejection_Reason</name>
            <choiceReferences>AvailableRejectionReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Approval_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Rejected</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Approval_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Blocked</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Comments</name>
            <dataType>String</dataType>
            <fieldText>Rejection Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Approval_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Rejected</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Approval_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Blocked</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageForOtherUsers</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Approval review process is ongoing&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Settlement_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Block_Settlement</name>
        <label>Block Settlement</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <flowName>CLAIM_Settlement_Blocked</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Control_Process</name>
        <label>Control Process</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <flowName>CLAIM_Control_Process</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Deny_Settlement_0_0</name>
        <label>Deny Settlement</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <flowName>CLAIM_Settlement_Denied</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>usersToNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
