sas-core/main/default/flows/CLAIM_Route_Case_By_Claim_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_Baggage_Queue</name>
        <label>Send to Baggage Queue</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G9E00000DHPjyUAH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Claims - Baggage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_related_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Customer Claims</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Customer_Claims</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N99E0000008SfISAU</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Flight_Disruption_Queue</name>
        <label>Send to Flight Disruption Queue</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G9E00000DHPjtUAH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Claims - Flight Disruption</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_related_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Customer Claims</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Customer_Claims</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N99E0000008SfISAU</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Other_Queue</name>
        <label>Send to Other Queue</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G9E00000DHPk3UAH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Claims - Other</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_related_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Customer Claims</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Customer_Claims</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N99E0000008SfISAU</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Claim_Type</name>
        <label>Check Claim Type</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Send_to_Other_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Flight_Disruption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Claim.Customer_Claim_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight disruptions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Flight_Disruption_Queue</targetReference>
            </connector>
            <label>Flight Disruption</label>
        </rules>
        <rules>
            <name>Baggage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Claim.Customer_Claim_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baggage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Baggage_Queue</targetReference>
            </connector>
            <label>Baggage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_owned_by_Queue</name>
        <label>Check if Case owned by Queue</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owned_by_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Claim_Type</targetReference>
            </connector>
            <label>Owned by Queue</label>
        </rules>
    </decisions>
    <interviewLabel>CLAIM Route Case By Claim Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLAIM Route Case By Claim Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_related_Case</name>
        <label>Get related Case</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Case_owned_by_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LIA_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Claim</name>
        <label>Get related Claim</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LIA_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_Claim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
