sas-core/main/default/flows/CLAIM_Case_Approval_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lock_Settlement</name>
        <label>Lock Settlement</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <actionName>LockRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_approval_for_Settlement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>Approve_each_Settlement.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Case_needs_manual_approval</name>
        <label>Case needs manual approval</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Emergency_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingCaseRecord.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numberOfManualApprovalsNeeded</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approvers_Emergency_Queue_Id</targetReference>
            </connector>
            <label>Yes - Emergency Case</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfManualApprovalsNeeded</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingCaseRecord.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approvers_Queue_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfManualApprovalsNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CLAIM Case Approval Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLAIM Case Approval Handler</label>
    <loops>
        <name>Approve_each_Settlement</name>
        <label>Approve each Settlement</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Settlements_related_to_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lock_Settlement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_number_of_Settlements_needing_approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Settlements_related_to_Case</name>
        <label>Get Settlements related to Case</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_each_Settlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingCaseRecord.LIA_Claim__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Case_to_Approvers</name>
        <label>Assign Case to Approvers</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>approversQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting for Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Case_to_Approvers_Emergency</name>
        <label>Assign Case to Approvers Emergency</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>approversEmergencyQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting for Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Send_Case_to_Control_Handler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting for Control</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Settlements_related_to_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_number_of_Settlements_needing_approval</name>
        <label>Check number of Settlements needing approval</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Case_needs_manual_approval</targetReference>
        </connector>
        <flowName>UTIL_Count_Number_of_Settlements_for_Status</flowName>
        <inputAssignments>
            <name>claimId</name>
            <value>
                <elementReference>incomingCaseRecord.LIA_Claim__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>statusToCheck</name>
            <value>
                <stringValue>Waiting for approval</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>numberOfManualApprovalsNeeded</assignToReference>
            <name>numberOfSettlementsInStatus</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_approval_for_Settlement</name>
        <label>Evaluate approval for Settlement</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Approve_each_Settlement</targetReference>
        </connector>
        <flowName>CLAIM_Settlement_Evaluation</flowName>
        <inputAssignments>
            <name>incomingRecord</name>
            <value>
                <elementReference>Approve_each_Settlement</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Approvers_Emergency_Queue_Id</name>
        <label>Get Approvers - Emergency Queue Id</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Assign_Case_to_Approvers_Emergency</targetReference>
        </connector>
        <flowName>Retrieve_Queue_Id</flowName>
        <inputAssignments>
            <name>QueueName</name>
            <value>
                <stringValue>Approvers_Emergency</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>approversEmergencyQueueId</assignToReference>
            <name>QueueId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Approvers_Queue_Id</name>
        <label>Get Approvers Queue Id</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Assign_Case_to_Approvers</targetReference>
        </connector>
        <flowName>Retrieve_Queue_Id</flowName>
        <inputAssignments>
            <name>QueueName</name>
            <value>
                <stringValue>Approvers</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>approversQueueId</assignToReference>
            <name>QueueId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_Case_to_Control_Handler</name>
        <label>Send Case to Control Handler</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <flowName>CLAIM_Case_Control_Handler</flowName>
        <inputAssignments>
            <name>incomingCaseRecord</name>
            <value>
                <elementReference>incomingCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>approversEmergencyQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approversQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Settlements_needing_manual_approval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Settlement__c</objectType>
    </variables>
    <variables>
        <name>incomingCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>numberOfManualApprovalsNeeded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
