sas-core/main/default/flows/CLAIM_Control_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Unlock_Settlement</name>
        <label>Unlock Settlement</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>LockRecords</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Request_Result</name>
        <label>Request Result</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approverequest</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject_request</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Completely_rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completely rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completely_reject_request</targetReference>
            </connector>
            <label>Completely rejected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailableRejectionReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rejection_Reason__c</picklistField>
        <picklistObject>Approval_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AvailableStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Approval_Request__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>status</name>
        <dataType>String</dataType>
        <expression>IF({!Approval_Status} = &quot;Approved&quot; , &quot;Waiting for Transfer&quot;, &quot;Denied&quot;)</expression>
    </formulas>
    <interviewLabel>CLAIM Control Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLAIM Control Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Approverequest</name>
        <label>Approve request</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_Settlement_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Control</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Completely_reject_request</name>
        <label>Completely reject request</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Completely_reject_settlement</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Comment__c</field>
            <value>
                <elementReference>Rejection_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completely rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Control</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Reject_request</name>
        <label>Reject request</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Reject_settlement</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Comment__c</field>
            <value>
                <elementReference>Rejection_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Control</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Settlement_Information</name>
        <label>Get Settlement Information</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Completely_reject_settlement</name>
        <label>Completely reject settlement</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Needs_Control__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reject_settlement</name>
        <label>Reject settlement</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Unlock_Settlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Needs_Control__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Settlement_Status</name>
        <label>Update Settlement Status</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Control_verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Status__c</field>
            <value>
                <stringValue>Waiting for transfer</stringValue>
            </value>
        </inputAssignments>
        <object>Settlement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approval_Request</name>
        <label>Approval Request</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Request_Result</targetReference>
        </connector>
        <fields>
            <name>Approval_Status</name>
            <choiceReferences>AvailableStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approval Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rejection_Reason</name>
            <choiceReferences>AvailableRejectionReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Approval_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Rejected</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Approval_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completely rejected</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Comments</name>
            <dataType>String</dataType>
            <fieldText>Rejection Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Approval_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Rejected</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Approval_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Rejected Completely</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Settlement_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Approval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Request__c</objectType>
    </variables>
    <variables>
        <name>approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>controlNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>controlQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>controlVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
