sas-core/main/default/flows/ContactFPS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Minimize_flow_screen</name>
        <label>Minimize flow screen</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <actionName>c:MinimizeUtilityItem</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Show_in_feed</name>
        <label>Show in feed</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>UpdateOwner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CreateFPSCase</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>SetCaseFields1</name>
        <label>SetCaseFields1</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request for access</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccessTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFPSGroupId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseFields2</name>
        <label>SetCaseFields2</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IssueSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BugTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFPSGroupId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseFields3</name>
        <label>SetCaseFields3</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Feature Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuggestionDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFPSGroupId</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AskAccess</name>
        <choiceText>Request access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>[Access]</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReportBug</name>
        <choiceText>Report an issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>[Bug]</stringValue>
        </value>
    </choices>
    <choices>
        <name>SuggestFeature</name>
        <choiceText>Suggest a new feature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FeatureSuggestion</stringValue>
        </value>
    </choices>
    <decisions>
        <name>SetValues</name>
        <label>Set values based on type of request</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetFPSGroupId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccessOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AskAccess</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseFields1</targetReference>
            </connector>
            <label>AccessOutcome</label>
        </rules>
        <rules>
            <name>IssueOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReportBug</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseFields2</targetReference>
            </connector>
            <label>IssueOutcome</label>
        </rules>
        <rules>
            <name>FeatureOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SuggestFeature</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseFields3</targetReference>
            </connector>
            <label>FeatureOutcome</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CasePriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>IssueSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot; &amp; {!Severity} &amp; &quot;]&quot; &amp; &quot; &quot; &amp;  LEFT({!IssueDescription}, 50)</expression>
    </formulas>
    <interviewLabel>Contact Functional Product Support {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Functional Product Support</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateFPSCase</name>
        <label>CreateFPSCase</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Show_in_feed</targetReference>
        </connector>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseType__c</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal - Functional Product Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Severity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetFPSRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetFPSGroupId</name>
        <label>GetFPSGroupId</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFPSRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFPSRecordTypeId</name>
        <label>GetFPSRecordTypeId</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateFPSCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOwner</name>
        <label>Update Owner</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateFPSCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetFPSGroupId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Enter_Issue_Information</name>
        <label>Enter Issue Information</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetValues</targetReference>
        </connector>
        <fields>
            <name>RequestType</name>
            <choiceReferences>ReportBug</choiceReferences>
            <choiceReferences>AskAccess</choiceReferences>
            <choiceReferences>SuggestFeature</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I would like to:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Issue_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Issue_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Who_needs_access</name>
                    <fieldText>Who needs access?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Please use the format Full name - Employee ID &lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NeedAccess</name>
                    <fieldText>What access is needed?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;For example, to a listview or a report.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AskAccess</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Issue_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Issue_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Severity</name>
                    <choiceReferences>CasePriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Severity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IssueDescription</name>
                    <fieldText>Please the describe the issue</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IssueRepro</name>
                    <fieldText>How can we replicate the issue?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IssueLink</name>
                    <fieldText>Please provide a link to where the issue occurred</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ReportBug</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Issue_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Issue_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuggestionDescription</name>
                    <fieldText>Please describe your suggestion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SuggestFeature</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Minimize_flow_screen</targetReference>
        </connector>
        <fields>
            <name>ThankYouMsg</name>
            <fieldText>&lt;p&gt;Thank you for contacting us.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We will get back to you shortly!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Issue_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AccessTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>I need access to: {!NeedAccess}
for the following people: {!Who_needs_access}</text>
    </textTemplates>
    <textTemplates>
        <name>BugTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Issue: {!IssueDescription}
Steps to replicate the issue: {!IssueRepro}
Link to where issue occurs: {!IssueLink}</text>
    </textTemplates>
    <variables>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
