sas-core/main/default/flows/EMAIL_Process_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_Case</name>
        <label>Route Case</label>
        <locationX>842</locationX>
        <locationY>1535</locationY>
        <actionName>RouteCaseAndSetPriority</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseToRoute</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Customer_about_Read_Only_Case</name>
        <label>Send Email to Customer about Read-Only Case</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>SendEmailForReadOnlyCase</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_New_Owner_Id_Queue</name>
        <label>Set New Owner Id - Queue</label>
        <locationX>1106</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>previousOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fullUserName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Owner_Id_User</name>
        <label>Set New Owner Id - User</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Owner_of_New_Response_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Response</name>
        <label>Set New Response</label>
        <locationX>1898</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>newStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Response</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Group_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Status_and_Owner</name>
        <label>Set New Status and Owner</label>
        <locationX>2096</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>newStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_New_Response</name>
        <label>Set Status to New Response</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>newStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Response</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>1326</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Control</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Control</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Owner_of_New_Response_AC</targetReference>
            </connector>
            <label>Approval/Control</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_New_Response</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Type</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Login</name>
        <label>Check Last Login</label>
        <locationX>776</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Get_Group_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than 7 days</defaultConnectorLabel>
        <rules>
            <name>Less_than_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userLastLogin</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>sevenDaysago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Records.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Owner_Id_User</targetReference>
            </connector>
            <label>Less than 7 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Last_Login</name>
        <label>Check User Last Login</label>
        <locationX>1766</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_New_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Login- More than 7 days</defaultConnectorLabel>
        <rules>
            <name>Login_7_days_before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userLastLoginDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>sevenDaysago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Owner_of_New_Response</targetReference>
            </connector>
            <label>Login - less than 7 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Direction</name>
        <label>Email Direction</label>
        <locationX>2228</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_number_of_emails_received</targetReference>
            </connector>
            <label>Incoming</label>
        </rules>
        <rules>
            <name>Outgoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_number_of_emails_sent</targetReference>
            </connector>
            <label>Outgoing</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Claim_Case</name>
        <label>If Claim Case</label>
        <locationX>974</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Set_New_Owner_Id_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Claim_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_parent_Record</targetReference>
            </connector>
            <label>Claim Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Owner</name>
        <label>New Owner</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Group_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue</defaultConnectorLabel>
        <rules>
            <name>Read_Only_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.IsReadOnly__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Customer_about_Read_Only_Case</targetReference>
            </connector>
            <label>Read Only Case</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>1 AND  (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backoffice Sitel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diamond DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diamond NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diamond SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAS Operating Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunds</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Records</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Type</name>
        <label>Owner Type</label>
        <locationX>2096</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_New_Status_and_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Record</targetReference>
            </connector>
            <label>Owner - User</label>
        </rules>
        <rules>
            <name>Owner_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Group_Id</targetReference>
            </connector>
            <label>Owner - Queue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>newReceivedEmailCount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Parent.Number_of_Email_Messages_Received__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>newSentEmailCount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Parent.Number_of_Email_Messages_Sent__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Based on the case, it shows the corresponding queue name</description>
        <name>queueName</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Parent.RecordType.Name} = &apos;Emergency&apos;, &apos;Emergency&apos;, TEXT({!$Record.Parent.Department__c}))</expression>
    </formulas>
    <formulas>
        <name>sevenDaysago</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 7</expression>
    </formulas>
    <formulas>
        <name>userLastLogin</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_User_Records.LastLoginDate}</expression>
    </formulas>
    <formulas>
        <name>userLastLoginDate</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_User_Record.LastLoginDate}</expression>
    </formulas>
    <interviewLabel>EMAIL Process Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EMAIL Process Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Id</name>
        <label>Get Group Id</label>
        <locationX>974</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Claim_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>1766</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Last_Login</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Records</name>
        <label>Get User Records</label>
        <locationX>776</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Last_Login</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_number_of_emails_received</name>
        <label>Update number of emails received</label>
        <locationX>1326</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Email_From_Address__c</field>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Received_Email_On__c</field>
            <value>
                <elementReference>$Record.MessageDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Email_Messages_Received__c</field>
            <value>
                <elementReference>newReceivedEmailCount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_number_of_emails_sent</name>
        <label>Update number of emails sent</label>
        <locationX>2866</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Email_Messages_Sent__c</field>
            <value>
                <elementReference>newSentEmailCount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>1326</locationX>
        <locationY>2159</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>previousOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_parent_Record</name>
        <label>Update parent Record</label>
        <locationX>842</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Route_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Group_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>fullUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>2102</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Direction</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Notify_Owner_of_New_Response</name>
        <label>Notify Owner of New Response</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Set_New_Status_and_Owner</targetReference>
        </connector>
        <flowName>UTIL_Send_Notification_to_User</flowName>
        <inputAssignments>
            <name>notificationBody</name>
            <value>
                <elementReference>newResponseNotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationTitle</name>
            <value>
                <elementReference>newResponseNotificationTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationType</name>
            <value>
                <stringValue>NewResponse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Notify_Owner_of_New_Response_0</name>
        <label>Notify Owner of New Response</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Parent_Case</targetReference>
        </connector>
        <flowName>UTIL_Send_Notification_to_User</flowName>
        <inputAssignments>
            <name>notificationBody</name>
            <value>
                <elementReference>newResponseNotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationTitle</name>
            <value>
                <elementReference>newResponseNotificationTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationType</name>
            <value>
                <stringValue>NewResponse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Notify_Owner_of_New_Response_AC</name>
        <label>Notify Owner of New Response</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <flowName>UTIL_Send_Notification_to_User</flowName>
        <inputAssignments>
            <name>notificationBody</name>
            <value>
                <elementReference>approvalControlNotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationTitle</name>
            <value>
                <elementReference>newResponseNotificationTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationType</name>
            <value>
                <stringValue>NewResponse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$Record.Parent.Approval_Submitter__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>approvalControlNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have a new customer response on Case: {!$Record.Parent.CaseNumber} that you submitted to approval.
Please view the case and recall it if needed.</text>
    </textTemplates>
    <textTemplates>
        <name>fullUserName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Parent.Owner:User.FirstName} {!$Record.Parent.Owner:User.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>newResponseNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have a new response on Case: {!$Record.Parent.CaseNumber} that you are the owner of.</text>
    </textTemplates>
    <textTemplates>
        <name>newResponseNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Response from Customer {!$Record.Parent.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>newOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previousOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
