sas-core/main/default/flows/FDCR_View_Flight_Delay_Certificate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Is_Booking_data_valid</name>
        <label>Is Booking data valid?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Invalid_Booking_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Booking</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Passenger</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>View_Flight_Delay_Certificate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>automaticEntryLink</name>
        <dataType>String</dataType>
        <expression>&quot;/apex/flightdelaycertificatepage?fdcrId=recordId&amp;bookingId=Get_related_Booking.Id&amp;passengerName=Get_FDC_Request_record.Contact_Full_Name__c&amp;caseNumber=Get_FDC_Request_record.Case__r.CaseNumber&amp;enteredFlight=Get_FDC_Request_record.Flight_Number__c&amp;bookingReference=Get_FDC_Request_record.Booking_Reference__c&amp;enteredFlightInBooking=false&quot;</expression>
    </formulas>
    <formulas>
        <name>manualEntryLink</name>
        <dataType>String</dataType>
        <expression>&quot;/apex/FlightDelayCertificateDataEntry?fdcrId=recordId&amp;manualEntry=true&amp;passengerName=Get_FDC_Request_record.Contact_Full_Name__c&amp;caseNumber=Get_FDC_Request_record.Case__r.CaseNumber&amp;enteredFlight=Get_FDC_Request_record.Flight_Number__c&amp;bookingReference=Get_FDC_Request_record.Booking_Reference__c&amp;enteredFlightInBooking=false&quot;</expression>
    </formulas>
    <interviewLabel>FDCR View Flight Delay Certificate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FDCR View Flight Delay Certificate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_FDC_Request_record</name>
        <label>Get FDC Request record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flight_Delay_Certificate_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Passenger</name>
        <label>Get Passenger</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Booking_data_valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FDC_Request_record.Contact_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_Booking.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Passenger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Booking</name>
        <label>Get related Booking</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Passenger</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FDC_Request_record.Booking_Reference__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Invalid_Booking_Data</name>
        <label>Invalid Booking Data</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;A Flight Delay Certificate could not be generated for this request.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This could be caused by the booking not being found, passenger not being part of this booking, or booking does not contain any flights affected by irregularity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/apex/FlightDelayCertificateDataEntry?fdcrId={!recordId}&amp;amp;manualEntry=true&amp;amp;passengerName={!Get_FDC_Request_record.Contact_Full_Name__c}&amp;amp;caseNumber={!Get_FDC_Request_record.Case__r.CaseNumber}&amp;amp;enteredFlight={!Get_FDC_Request_record.Flight_Number__c}&amp;amp;bookingReference={!Get_FDC_Request_record.Booking_Reference__c}&amp;amp;enteredFlightInBooking=false&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Click here to enter flight data manually!&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>View_Flight_Delay_Certificate</name>
        <label>View Flight Delay Certificate</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>linkMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please click the link below to view the related Delay Certificate:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/apex/flightdelaycertificatepage?fdcrId={!recordId}&amp;amp;bookingId={!Get_related_Booking.Id}&amp;amp;passengerName={!Get_FDC_Request_record.Contact_Full_Name__c}&amp;amp;caseNumber={!Get_FDC_Request_record.Case__r.CaseNumber}&amp;amp;enteredFlight={!Get_FDC_Request_record.Flight_Number__c}&amp;amp;bookingReference={!Get_FDC_Request_record.Booking_Reference__c}&amp;amp;enteredFlightInBooking=false&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Click me!&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To enter new information manually:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/apex/FlightDelayCertificateDataEntry?fdcrId={!recordId}&amp;amp;manualEntry=true&amp;amp;passengerName={!Get_FDC_Request_record.Contact_Full_Name__c}&amp;amp;caseNumber={!Get_FDC_Request_record.Case__r.CaseNumber}&amp;amp;enteredFlight={!Get_FDC_Request_record.Flight_Number__c}&amp;amp;bookingReference={!Get_FDC_Request_record.Booking_Reference__c}&amp;amp;enteredFlightInBooking=false&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Click here!&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_FDC_Request_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
