sas-core/main/default/flows/IRR_EVT_NoAlternativeUNFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retrieve_Flow_Variables</name>
        <label>Retrieve Flow Variables</label>
        <locationX>309</locationX>
        <locationY>193</locationY>
        <actionName>IRR_ACT_StaticInput</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>USAirport_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <outputParameters>
            <assignToReference>noRebookInfo</assignToReference>
            <name>noRebookInfo</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>passengerInfo</assignToReference>
            <name>passengerInfo</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Send_SMS_and_Email</name>
        <label>Send SMS and Email</label>
        <locationX>603</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>sendEmailMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>irr_noalternativeUN_email_01</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>smsTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>irr_noalternativeUN_sms_01</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sendSMSMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>US_Send_Email_and_Message</name>
        <label>US Send Email and Message</label>
        <locationX>115</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>sendEmailMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>irr_noalternativeUN_email_01_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sendSMSMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>smsTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>irr_noalternativeUN_SMS_01_US</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>USAirport_Assignment</name>
        <label>USAirport Assignment</label>
        <locationX>349</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BOS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EWR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LAX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MIA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ORD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SFO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flights_within_48_hours</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Flights_within_48_hours</name>
        <label>Flights within 48 hours</label>
        <locationX>342</locationX>
        <locationY>580</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>US_Airports_Less_than_48_hours</name>
            <conditionLogic>1  AND  (2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>noRebookInfo.minutesToScheduledTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2880.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>USAirport</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>passengerInfo.cancelledStaionArrival</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>USAirport</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>passengerInfo.cancelledStationDeparture</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>US_Send_Email_and_Message</targetReference>
            </connector>
            <label>US Airports Less than 48 hours</label>
        </rules>
        <rules>
            <name>NOT_US_Less_than_48_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noRebookInfo.minutesToScheduledTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2880.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_and_Email</targetReference>
            </connector>
            <label>NOT US Less than 48 hours</label>
        </rules>
    </decisions>
    <interviewLabel>IRR EVT NoAlternativeUNFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IRR EVT NoAlternativeUNFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Retrieve_Flow_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>emailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>noRebookInfo</name>
        <apexClass>IRR_MOD_NoRebookInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>passengerInfo</name>
        <apexClass>IRR_MOD_PassengerInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendEmailMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sendSMSMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>smsTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>USAirport</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
