sas-core/main/default/flows/IRR_EVT_CancelFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retrieve_Flow_Variables</name>
        <label>Retrieve Flow Variables</label>
        <locationX>402</locationX>
        <locationY>50</locationY>
        <actionName>IRR_ACT_StaticInput</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Time_to_departure</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <outputParameters>
            <assignToReference>cancelInfo</assignToReference>
            <name>cancelInfo</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>passengerInfo</assignToReference>
            <name>passengerInfo</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Send_SMS_and_Email</name>
        <label>Send SMS and Email</label>
        <locationX>813</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>smsTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>irr_cancellation_sms_01</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sendSMSMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>irr_cancellation_email_01</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sendEmailMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Send_SMS_and_Email_US</name>
        <label>Send SMS and Email US</label>
        <locationX>423</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>smsTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>irr_cancellation_sms_01_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sendSMSMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>irr_cancellation_email_01_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sendEmailMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>USAirport_Assignment</name>
        <label>USAirport Assignment</label>
        <locationX>410</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BOS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EWR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LAX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MIA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ORD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USAirport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SFO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_US_station</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_US_station</name>
        <label>Check US station</label>
        <locationX>412</locationX>
        <locationY>687</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_and_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_US</name>
            <conditionLogic>(1 AND 2) OR  (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>cancelInfo.stationArrival</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>USAirport</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>cancelInfo.stationArrival</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cancelInfo.stationDeparture</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>USAirport</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>cancelInfo.stationDeparture</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_and_Email_US</targetReference>
            </connector>
            <label>Is US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_to_departure</name>
        <label>Time to departure</label>
        <locationX>394</locationX>
        <locationY>289</locationY>
        <defaultConnectorLabel>48h or more</defaultConnectorLabel>
        <rules>
            <name>Less_than_48h</name>
            <conditionLogic>1 AND ( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>cancelInfo.minutesToScheduledTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2880.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cancelInfo.arrivalCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>YYZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cancelInfo.departureCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>YYZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>USAirport_Assignment</targetReference>
            </connector>
            <label>Less than 48h</label>
        </rules>
    </decisions>
    <interviewLabel>IRR_EVT_CancelFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IRR EVT CancelFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>62</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Retrieve_Flow_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cancelInfo</name>
        <apexClass>IRR_MOD_CancelInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>passengerInfo</name>
        <apexClass>IRR_MOD_PassengerInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendEmailMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sendSMSMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>smsTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>USAirport</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
