sas-core/main/default/flows/LIA_Update_Liability_Claim_Result.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Assigns the capture values for compensations</description>
        <name>Assign_Compensation_Variables</name>
        <label>Assign Compensation Variables</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>OutputVoucherCompesation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voucher_Compensation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputEuroBonusCompensation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EuroBonus_Points_Compensation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputMonetaryCompensation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monetary_Compensation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_Monetary_Compensation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Monetary_Compensation_to_0</name>
        <label>Monetary Compensation to 0</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>OutputFeesPaid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zero</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputInterestPaid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zero</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputPrincipalPaid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zero</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Settlement_Reason_Applicable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets all the the compensation checkboxes to false</description>
        <name>Set_Compensations_to_False</name>
        <label>Set Compensations to False</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>OutputVoucherCompesation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputMonetaryCompensation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputEuroBonusCompensation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_Monetary_Compensation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the value capture by the user</description>
        <name>Set_Input_Settlement_Reason_To_Settlement_Reason</name>
        <label>Set Input Settlement Reason To Settlement Reason</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>OutputSettlementReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Settlement_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Liability_Claim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the captured amounts as the paid amounts for output variables</description>
        <name>Set_Paid_Amounts</name>
        <label>Set Paid Amounts</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>OutputFeesPaid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputFeesPaid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputInterestPaid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputInterestPaid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputPrincipalPaid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputPrincipalPaid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Settlement_Reason_Applicable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets settlement reason to N/A</description>
        <name>Set_Settlement_Reason_to_N_A</name>
        <label>Set Settlement Reason to N/A</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>OutputSettlementReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Liability_Claim</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Hoels de value of zero</description>
        <name>Zero</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Compensation_need</name>
        <label>Is Compensation need?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_Compensations_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Compensation</defaultConnectorLabel>
        <rules>
            <name>Select_Compensation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settlement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default judgement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settled in Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paid_Amounts_Update</targetReference>
            </connector>
            <label>Select Compensation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Settlement_Reason_Applicable</name>
        <label>Is Settlement Reason Applicable?</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Set_Settlement_Reason_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Settlement Reason does not apply</defaultConnectorLabel>
        <rules>
            <name>Settlement_Reason_applies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settlement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Input_Settlement_Reason_To_Settlement_Reason</targetReference>
            </connector>
            <label>Settlement Reason applies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_Monetary_Compensation</name>
        <label>Is there monetary compesation?</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Monetary_Compensation_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No monetary compensation</defaultConnectorLabel>
        <rules>
            <name>Set_Monetary_Compensation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Monetary_Compensation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Paid_Amounts</targetReference>
            </connector>
            <label>Set monetary compensation</label>
        </rules>
    </decisions>
    <description>Flow to update result, legal conclusion, settlement reason and payment information</description>
    <dynamicChoiceSets>
        <description>Shows the available legal conclusions</description>
        <name>AvailableLegalConclusion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Legal_Conclusion__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Shows the available options for result</description>
        <name>AvailableResult</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Result__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Shows the Available Settlement Reason</description>
        <name>AvalaibleSettlementReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Settlement_Reason__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>LIA Update Liability Claim Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIA Update Liability Claim Result</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets all the information in the claim</description>
        <name>Get_Current_Claim_Information</name>
        <label>Get Current Claim Information</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Liability_Claim_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LIA_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Liability based on the user&apos;s input</description>
        <name>Update_Liability_Claim</name>
        <label>Update Liability Claim</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Liability_Claim_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eurobonus_Points_Compensation__c</field>
            <value>
                <elementReference>OutputEuroBonusCompensation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fees_Paid__c</field>
            <value>
                <elementReference>OutputFeesPaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fees__c</field>
            <value>
                <elementReference>Fees_Claimed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_Paid__c</field>
            <value>
                <elementReference>OutputInterestPaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest__c</field>
            <value>
                <elementReference>Interest_Claimed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Conclusion__c</field>
            <value>
                <elementReference>Legal_Conclusion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monetary_Compensation__c</field>
            <value>
                <elementReference>OutputMonetaryCompensation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Principal_Paid__c</field>
            <value>
                <elementReference>OutputPrincipalPaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Principal__c</field>
            <value>
                <elementReference>Principal_Claimed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Reason__c</field>
            <value>
                <elementReference>OutputSettlementReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voucher_Compensation__c</field>
            <value>
                <elementReference>OutputVoucherCompesation</elementReference>
            </value>
        </inputAssignments>
        <object>LIA_Claim__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Shows the user that liability claim has been updated</description>
        <name>Liability_Claim_Updated</name>
        <label>Liability Claim Updated</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Update_Outcome</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Liability Claim has been updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the user to capture the paid  amounts</description>
        <name>Paid_Amounts_Update</name>
        <label>Paid Amounts Update</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Compensation_Variables</targetReference>
        </connector>
        <fields>
            <name>CompensationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;i&gt;﻿Indicate the compensation agreed in this Liability Claim&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Paid_Amounts_Update_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Paid_Amounts_Update_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Voucher_Compensation</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Voucher Compensation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paid_Amounts_Update_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EuroBonus_Points_Compensation</name>
                    <dataType>Boolean</dataType>
                    <fieldText>EuroBonus Points Compensation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paid_Amounts_Update_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monetary_Compensation</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monetary Compensation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Paid_Amounts_Update_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Paid_Amounts_Update_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CapturePaidAmounts</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;i&gt;Indicate the the amounts to pay&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InputPrincipalPaid</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Principal_Claimed</elementReference>
                    </defaultValue>
                    <fieldText>Principal Paid</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>InputFeesPaid</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Fees_Claimed</elementReference>
                    </defaultValue>
                    <fieldText>Fees Paid</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>InputInterestPaid</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Interest_Claimed</elementReference>
                    </defaultValue>
                    <fieldText>Interest Paid</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Monetary_Compensation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Liability_Claim_Result</name>
        <label>Update Liability Claim Result</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Compensation_need</targetReference>
        </connector>
        <fields>
            <name>ClaimedAmounts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Claim Amounts&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Principal_Claimed</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Current_Claim_Information.Principal__c</elementReference>
            </defaultValue>
            <fieldText>Principal Claimed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Fees_Claimed</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Current_Claim_Information.Fees__c</elementReference>
            </defaultValue>
            <fieldText>Fees Claimed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Interest_Claimed</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Current_Claim_Information.Interest__c</elementReference>
            </defaultValue>
            <fieldText>Interest Claimed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Conclusion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Conclusion&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Result</name>
            <choiceReferences>AvailableResult</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Current_Claim_Information.Result__c</elementReference>
            </defaultValue>
            <fieldText>Result</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Legal_Conclusion</name>
            <choiceReferences>AvailableLegalConclusion</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Current_Claim_Information.Legal_Conclusion__c</elementReference>
            </defaultValue>
            <fieldText>Legal Conclusion</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Settlement_Reason</name>
            <choiceReferences>AvalaibleSettlementReason</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Current_Claim_Information.Settlement_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Settlement Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Result</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Settlement</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Claim_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OutputEuroBonusCompensation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value fees paid</description>
        <name>OutputFeesPaid</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Stores the output for Interest paid</description>
        <name>OutputInterestPaid</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OutputMonetaryCompensation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value for Principal Paid</description>
        <name>OutputPrincipalPaid</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Stores the value for settlement reason</description>
        <name>OutputSettlementReason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutputVoucherCompesation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Captures the Id of the record from where the screen flow was triggered from</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
