sas-core/main/default/flows/LIA_Create_Liability_Claim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <choices>
        <description>To show the none option</description>
        <name>None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </choices>
    <description>It creates a liability claim and links it the a case</description>
    <dynamicChoiceSets>
        <description>Available Judicial Bodies</description>
        <name>AvailableJudicialBody</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Judicial_Body__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Available Jurisdiction</description>
        <name>AvailableJurisdiction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Jurisdiction__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>It gets the picklist values in the Liability Claim Type</description>
        <name>AvailableLiabilityClaimType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Liability_Claim_Type__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Available Names of Judicial Body</description>
        <name>AvailableNameJudicialBody</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Name_of_Judicial_Body__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Gets the picklist values for Reason for Delay/Cancellation</description>
        <name>AvaliableReasonForDelayCancellation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Delay_Cancellation__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>LIA Create Liability Claim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIA Create Liability Claim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the liability claim with the information capture in the screen</description>
        <name>Create_Liability_Claim</name>
        <label>Create Liability Claim</label>
        <locationX>315</locationX>
        <locationY>319</locationY>
        <connector>
            <targetReference>Update_Case_With_Liability_Claim</targetReference>
        </connector>
        <inputAssignments>
            <field>CARE_Case_Number__c</field>
            <value>
                <elementReference>CARE_Case_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>GetCaseInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Receipt__c</field>
            <value>
                <elementReference>Date_Of_Receipt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Case_Number_Court_Reference__c</field>
            <value>
                <elementReference>External_Case_Number_Court_Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fees__c</field>
            <value>
                <elementReference>Fees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Date__c</field>
            <value>
                <elementReference>Flight_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Number__c</field>
            <value>
                <elementReference>Flight_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest__c</field>
            <value>
                <elementReference>Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judicial_Body__c</field>
            <value>
                <elementReference>Judicial_Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jurisdiction__c</field>
            <value>
                <elementReference>Jurisdiction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIA_Firm__c</field>
            <value>
                <elementReference>Legal_Firm.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIA_Major_Event__c</field>
            <value>
                <elementReference>Major_Event.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_Claim_Type__c</field>
            <value>
                <elementReference>Liability_Claim_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_PNR__c</field>
            <value>
                <elementReference>PNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetCaseInfo.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Judicial_Body__c</field>
            <value>
                <elementReference>Jurisdiction.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Passenger_s__c</field>
            <value>
                <elementReference>Name_of_Passanger_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Principal__c</field>
            <value>
                <elementReference>Principal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Delay_Cancellation__c</field>
            <value>
                <elementReference>Reason_For_Delay_Cancellation</elementReference>
            </value>
        </inputAssignments>
        <object>LIA_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get case information</description>
        <name>GetCaseInfo</name>
        <label>GetCaseInfo</label>
        <locationX>175</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Liability_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_With_Liability_Claim</name>
        <label>Update Case With Liability Claim</label>
        <locationX>450</locationX>
        <locationY>319</locationY>
        <connector>
            <targetReference>Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseInfo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LIA_Claim__c</field>
            <value>
                <elementReference>Create_Liability_Claim</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <description>Create a new Liability Claim</description>
        <name>New_Liability_Claim</name>
        <label>New Liability Claim</label>
        <locationX>174</locationX>
        <locationY>321</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Liability_Claim</targetReference>
        </connector>
        <fields>
            <name>GeneralInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;General Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Liability_Claim_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Liability_Claim_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CARE_Case_Number</name>
                    <dataType>String</dataType>
                    <fieldText>CARE Case Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please add the complain CARE Case Number&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;CARE Case Number cannot be more than 10 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!CARE_Case_Number}) &lt;= 10</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Liability_Claim_Type</name>
                    <choiceReferences>AvailableLiabilityClaimType</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
                    <fieldText>Liability Claim Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Reason_For_Delay_Cancellation</name>
                    <choiceReferences>AvaliableReasonForDelayCancellation</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
                    <fieldText>Reason For Delay/Cancellation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Liability_Claim_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PNR</name>
                    <dataType>String</dataType>
                    <fieldText>PNR</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;PNR is 6 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!PNR}) = 6</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Flight_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Flight Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Please add the flight number related to the PNR&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Flight_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Flight Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Please add the flight number related to the PNR&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Name_of_Passanger_s</name>
            <fieldText>Name of Passanger(s)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PNR</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Flight_Date</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Flight_Number</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CourtInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; Court Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Liability_Claim_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Liability_Claim_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>External_Case_Number_Court_Reference</name>
                    <dataType>String</dataType>
                    <fieldText>External Case Number/Court Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Jurisdiction</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>LIA_Claim__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Jurisdiction__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Name_of_Judicial_Body__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Jurisdiction</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Name Of Judicial Body</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>AvailableJurisdiction</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>AvailableNameJudicialBody</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Judicial_Body</name>
                    <choiceReferences>AvailableJudicialBody</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Judicial Body</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Jurisdiction.middleValue</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Liability_Claim_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Of_Receipt</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>GetCaseInfo.CreatedDate</elementReference>
                    </defaultValue>
                    <fieldText>Date Of Receipt</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Deadline</name>
                    <dataType>Date</dataType>
                    <fieldText>Deadline</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Legal_Firm</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>LIA_Firm__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Legal Firm</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>LIA_Claim__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ClaimAmounts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Claim Amounts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Liability_Claim_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Liability_Claim_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Principal</name>
                    <dataType>Currency</dataType>
                    <fieldText>Principal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Liability_Claim_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Interest</name>
                    <dataType>Currency</dataType>
                    <fieldText>Interest</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Liability_Claim_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fees</name>
                    <dataType>Currency</dataType>
                    <fieldText>Fees</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Major_Event</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LIA_Major_Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Major Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LIA_Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outcome</name>
        <label>Outcome</label>
        <locationX>588</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Liability Claim has been created&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCaseInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Case Id when the flow is called from</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
