sas-core/main/default/flows/LIA_Update_Payment_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Flow to update the payment outcome of the Liability Claim</description>
    <interviewLabel>LIA Update Payment Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Payment Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets all the information in the claim</description>
        <name>Get_Current_Claim_Information</name>
        <label>Get Current Claim Information</label>
        <locationX>176</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Payment_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LIA_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Claim_Payment_Information</name>
        <label>Update Claim Payment Information</label>
        <locationX>178</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Display_Total_Paid_Amount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fees_Paid__c</field>
            <value>
                <elementReference>Fees_Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_Paid__c</field>
            <value>
                <elementReference>Interest_Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Principal_Paid__c</field>
            <value>
                <elementReference>Principal_Paid</elementReference>
            </value>
        </inputAssignments>
        <object>LIA_Claim__c</object>
    </recordUpdates>
    <screens>
        <description>Shows the total amount paid was the result of this claim</description>
        <name>Display_Total_Paid_Amount</name>
        <label>Display Total Paid Amount</label>
        <locationX>308</locationX>
        <locationY>517</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Payment_details_Outcome</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Paid Amounts Information has been updated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Payment_Information</name>
        <label>Update Payment Information</label>
        <locationX>177</locationX>
        <locationY>363</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Claim_Payment_Information</targetReference>
        </connector>
        <fields>
            <name>Principal_Paid</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Current_Claim_Information.Principal__c</elementReference>
            </defaultValue>
            <fieldText>Principal Paid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Fees_Paid</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Current_Claim_Information.Fees__c</elementReference>
            </defaultValue>
            <fieldText>Fees Paid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Interest_Paid</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Current_Claim_Information.Interest__c</elementReference>
            </defaultValue>
            <fieldText>Interest Paid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Claim_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Captures the Id of the record from where the screen flow was triggered from</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
