sas-core/main/default/flows/LIA_Create_Liability_Claim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <choices>
        <description>To show the none option</description>
        <name>None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </choices>
    <decisions>
        <name>What_is_the_type_of_customer</name>
        <label>What is the type of customer?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Case_With_Liability_Claim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other representative</defaultConnectorLabel>
        <rules>
            <name>Private_customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer</targetReference>
            </connector>
            <label>Private customer</label>
        </rules>
    </decisions>
    <description>It creates a liability claim and links it the a case</description>
    <dynamicChoiceSets>
        <description>Available Judicial Bodies</description>
        <name>AvailableJudicialBody</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Judicial_Body__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Available Jurisdiction</description>
        <name>AvailableJurisdiction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Jurisdiction__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>It gets the picklist values in the Liability Claim Type</description>
        <name>AvailableLiabilityClaimType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Liability_Claim_Type__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Available Names of Judicial Body</description>
        <name>AvailableNameJudicialBody</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Name_of_Judicial_Body__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Gets the picklist values for Reason for Delay/Cancellation</description>
        <name>AvaliableReasonForDelayCancellation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Delay_Cancellation__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeOfCustomer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Customer__c</picklistField>
        <picklistObject>LIA_Claim__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fullCustomerName</name>
        <dataType>String</dataType>
        <expression>{!First_Name} + &quot; &quot;+ {!Last_Name}</expression>
    </formulas>
    <interviewLabel>LIA Create Liability Claim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LIA Create Liability Claim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_Case_With_Liability_Claim</targetReference>
        </connector>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>Create_Liability_Claim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the liability claim with the information capture in the screen</description>
        <name>Create_Liability_Claim</name>
        <label>Create Liability Claim</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>What_is_the_type_of_customer</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_line_1__c</field>
            <value>
                <elementReference>Street_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BIC_Swift__c</field>
            <value>
                <elementReference>BIC_SWIFT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Holder_Name__c</field>
            <value>
                <elementReference>Bank_Account_Holder_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>Bank_Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Country__c</field>
            <value>
                <elementReference>BankCountryCurrency.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CARE_Case_Number__c</field>
            <value>
                <elementReference>CARE_Case_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>GetCaseInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Firm__c</field>
            <value>
                <elementReference>Claim_Firm.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Full_Name__c</field>
            <value>
                <elementReference>fullCustomerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>CustomerCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>BankCountryCurrency.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Receipt__c</field>
            <value>
                <elementReference>Date_Of_Receipt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EuroBonus_Number__c</field>
            <value>
                <elementReference>EuroBonus_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Case_Number_Court_Reference__c</field>
            <value>
                <elementReference>External_Case_Number_Court_Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fees__c</field>
            <value>
                <elementReference>Fees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Date__c</field>
            <value>
                <elementReference>Flight_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Number__c</field>
            <value>
                <elementReference>Flight_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest__c</field>
            <value>
                <elementReference>Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judicial_Body__c</field>
            <value>
                <elementReference>Judicial_Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jurisdiction__c</field>
            <value>
                <elementReference>Jurisdiction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_Claim_Type__c</field>
            <value>
                <elementReference>Liability_Claim_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_PNR__c</field>
            <value>
                <elementReference>PNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetCaseInfo.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Judicial_Body__c</field>
            <value>
                <elementReference>Jurisdiction.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Liability_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Principal__c</field>
            <value>
                <elementReference>Principal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Delay_Cancellation__c</field>
            <value>
                <elementReference>Reason_For_Delay_Cancellation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Claim_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LIA_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Claim_Record_Type_Id</name>
        <label>Get Claim Record Type Id</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Liability_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LiabilityClaim</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Liability Queue Id</description>
        <name>Get_Liability_Queue_Id</name>
        <label>Get Liability Queue Id</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Claim_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Liability</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get case information</description>
        <name>GetCaseInfo</name>
        <label>GetCaseInfo</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Liability_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_With_Liability_Claim</name>
        <label>Update Case With Liability Claim</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseInfo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LIA_Claim__c</field>
            <value>
                <elementReference>Create_Liability_Claim</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <description>Create a new Liability Claim</description>
        <name>New_Liability_Claim</name>
        <label>New Liability Claim</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Liability_Queue_Id</targetReference>
        </connector>
        <fields>
            <name>GeneralInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;General Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Liability_Claim_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Liability_Claim_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CARE_Case_Number</name>
                    <dataType>String</dataType>
                    <fieldText>CARE Case Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please add the complain CARE Case Number&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;There is limit of 100 characters for this field&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!CARE_Case_Number}) &lt;= 100</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Liability_Claim_Type</name>
                    <choiceReferences>AvailableLiabilityClaimType</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
                    <fieldText>Liability Claim Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Reason_For_Delay_Cancellation</name>
                    <choiceReferences>AvaliableReasonForDelayCancellation</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
                    <fieldText>Reason For Delay/Cancellation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Liability_Claim_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PNR</name>
                    <dataType>String</dataType>
                    <fieldText>PNR</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;PNR is 6 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!PNR}) = 6</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Flight_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Flight Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Please add the flight number related to the PNR&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;There is limit of 50 characters for this field&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Flight_Number}) &lt;= 50</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Flight_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Flight Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Please add the flight number related to the PNR&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CourtInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; Court Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Liability_Claim_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Liability_Claim_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>External_Case_Number_Court_Reference</name>
                    <dataType>String</dataType>
                    <fieldText>External Case Number/Court Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;There is limit of 100 characters for this field&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!External_Case_Number_Court_Reference}) &lt;= 100</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Jurisdiction</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>LIA_Claim__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Jurisdiction__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Name_of_Judicial_Body__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Jurisdiction</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Name Of Judicial Body</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>AvailableJurisdiction</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>AvailableNameJudicialBody</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Judicial_Body</name>
                    <choiceReferences>AvailableJudicialBody</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Judicial Body</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Jurisdiction.middleValue</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Liability_Claim_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Of_Receipt</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>GetCaseInfo.CreatedDate</elementReference>
                    </defaultValue>
                    <fieldText>Date Of Receipt</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Deadline</name>
                    <dataType>Date</dataType>
                    <fieldText>Deadline</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ClaimAmounts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Claim Amounts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Liability_Claim_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Liability_Claim_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Principal</name>
                    <dataType>Currency</dataType>
                    <fieldText>Principal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Liability_Claim_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Interest</name>
                    <dataType>Currency</dataType>
                    <fieldText>Interest</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Liability_Claim_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fees</name>
                    <dataType>Currency</dataType>
                    <fieldText>Fees</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Information</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_of_Customer</name>
            <choiceReferences>TypeOfCustomer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Customer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Claim_Firm</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Claim_Firm__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Claim Firm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LIA_Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Customer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Claim firm</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_s_Reference</name>
            <dataType>String</dataType>
            <fieldText>Customer&apos;s Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Customer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Claim firm</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Liability_Claim_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Liability_Claim_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Liability_Claim_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EuroBonus_Number</name>
                    <dataType>String</dataType>
                    <fieldText>EuroBonus Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Liability_Claim_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Liability_Claim_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street_Address</name>
                    <dataType>String</dataType>
                    <fieldText>Street Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Liability_Claim_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CustomerCountry</name>
                    <choiceReferences>Country</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BankInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Bank Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Liability_Claim_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Liability_Claim_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Bank Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BankCountryCurrency</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>LIA_Claim__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Bank_Country__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Currency__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Bank Country</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Currency</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Liability_Claim_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BIC_SWIFT</name>
                    <dataType>String</dataType>
                    <fieldText>BIC/SWIFT</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bank_Account_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Bank Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bank_Account_Holder_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Bank Account Holder Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outcome</name>
        <label>Outcome</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Liability Claim has been created&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Case Id when the flow is called from</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
