sas-core/main/default/flows/Manual_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Notify_User_of_created_Case</name>
        <label>Notify User of created Case</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Case_Creation_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You created a new case with the case number {!GetCaseNumber.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Case created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UsersToNotify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>CreateManualCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>FlowUserCaseOwner</name>
        <label>Set Flow User as Case Owner</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SetCaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsersToNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateManualCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_As_Case_Owner</name>
        <label>Set Queue As Case Owner</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SetCaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDepartmentQueueId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsersToNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateManualCase</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>High</description>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>MeChoice</name>
        <choiceText>Me</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Me</stringValue>
        </value>
    </choices>
    <choices>
        <description>Medium</description>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>QueueChoice</name>
        <choiceText>Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>CreateManualCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MeOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MeChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FlowUserCaseOwner</targetReference>
            </connector>
            <label>MeChoice</label>
        </rules>
        <rules>
            <name>QueueOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QueueChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDepartmentQueueId</targetReference>
            </connector>
            <label>QueueChoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_department_valid_for_case_creation</name>
        <label>Is department valid for case creation?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>SetRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>InvalidDepartments</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DepartmentTeamList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunds OC KANA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DepartmentTeamList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunds</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DepartmentTeamList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Department_Error</targetReference>
            </connector>
            <label>Invalid Department</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Department</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Department__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Team</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Team__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CreatedCaseLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!CreateManualCase}, {!GetCaseNumber.CaseNumber}, &quot;_self&quot;)</expression>
    </formulas>
    <interviewLabel>Manual Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateManualCase</name>
        <label>CreateManualCase</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>GetCaseNumber</targetReference>
        </connector>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>DepartmentTeamList.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Consent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SetCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>PriorityPicker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>DepartmentTeamList.middleValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCaseNumber</name>
        <label>GetCaseNumber</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomNotificationId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateManualCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Returns Custom Notification Type ID used by the flow</description>
        <name>GetCustomNotificationId</name>
        <label>GetCustomNotificationId</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_User_of_created_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CaseFromFlow</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDepartmentQueueId</name>
        <label>GetDepartmentQueueId</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Queue_As_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DepartmentTeamList.topValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Creation_Confirmation</name>
        <label>Case Creation Confirmation</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Outcome</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Case&lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;has been created to {!GetCaseNumber.Department__c}.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click the notification in the top right corner to view the case!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_information_from_user</name>
        <label>Get information from user</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_department_valid_for_case_creation</targetReference>
        </connector>
        <fields>
            <name>DepartmentTeamList</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Department__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Department</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Department</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Team</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Team</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CaseDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CaseAssignment</name>
            <choiceReferences>MeChoice</choiceReferences>
            <choiceReferences>QueueChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>MeChoice</defaultSelectedChoiceReference>
            <fieldText>Who should the case be assigned to?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PriorityPicker</name>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Medium</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Department_Error</name>
        <label>Invalid Department</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidDepartmentInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;The selected Department is not available for New Case creation&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_information_from_user</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Set Record Type</description>
        <name>SetRecordType</name>
        <label>SetRecordType</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Assign_Owner</targetReference>
        </connector>
        <flowName>Assign_Record_Type_for_Case_Object</flowName>
        <inputAssignments>
            <name>Department</name>
            <value>
                <elementReference>DepartmentTeamList.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Team</name>
            <value>
                <elementReference>DepartmentTeamList.middleValue</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeSubflow</assignToReference>
            <name>RecordTypeOutput</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>RecordTypeSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsersToNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
