sas-core/main/default/flows/Mass_Redirection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Posts the internal comments to the chatter feed on the case</description>
        <name>CaseChatterFeed</name>
        <label>CaseChatterFeed</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Loop_through_selected_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RedirectionReason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Loop_through_selected_Cases.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Since we can get maximum 100 records in flow due to governor limits, so using apex</description>
        <name>Get_Caes_from_Apex</name>
        <label>Get Caes from Apex</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>FCS_MassRedirection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_selected_Cases</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstCasesfromapex</assignToReference>
            <name>lstCases</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Case_to_new_List</name>
        <label>Add Case to new List</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_selected_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseChatterFeed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_selected_Cases.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DepartmentTeamList.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_selected_Cases.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DepartmentTeamList.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_selected_Cases.IsRedirected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_selected_Cases.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_selected_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDepartmentQueueId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_new_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_regular_queue</name>
        <label>Assign regular queue</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DepartmentTeamList.topValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseRecordType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verify that cases have been selected</description>
        <name>Verify_Selected_Records</name>
        <label>Verify Selected Records</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectedRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_regular_queue</targetReference>
            </connector>
            <label>SelectedRecords</label>
        </rules>
    </decisions>
    <description>Flow to redirect multiple cases.</description>
    <interviewLabel>Mass Redirection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Redirection</label>
    <loops>
        <name>Loop_through_selected_Cases</name>
        <label>Loop through selected Cases</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>lstCasesfromapex</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_selected_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetDepartmentQueueId</name>
        <label>GetDepartmentQueueId</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Caes_from_Apex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_selected_Cases</name>
        <label>Update selected Cases</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Success_Confirmation</targetReference>
        </connector>
        <inputReference>CasesToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>To redirect multiple cases</description>
        <name>Mass_Redirection</name>
        <label>Mass Redirection</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_Selected_Records</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p&gt;Mass Redirection should be used when multiple cases have been sent to the wrong Department and Team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select where the cases should be redirected&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DepartmentTeamList</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Department__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Department</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>DepartmentTeamList.topValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Team</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>DepartmentTeamList.middleValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RedirectionReason</name>
            <dataType>String</dataType>
            <fieldText>Please enter a reason for the redirection</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Confirmation</name>
        <label>Success Confirmation</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;Cases have now been redirected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mass_Redirection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CaseRecordType</name>
        <label>CaseRecordType</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>GetDepartmentQueueId</targetReference>
        </connector>
        <flowName>Assign_Record_Type_for_Case_Object</flowName>
        <inputAssignments>
            <name>Department</name>
            <value>
                <elementReference>DepartmentTeamList.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Team</name>
            <value>
                <elementReference>DepartmentTeamList.middleValue</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewRecordType</assignToReference>
            <name>RecordTypeOutput</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>List of cases to update</description>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstCasesfromapex</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
