sas-core/main/default/flows/New_Refund_Request_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refund_Request_Created</name>
        <label>Refund Request Created</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RefundRequestInfo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>New Refund Request from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Refund Request from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Refund_Request</name>
        <label>Create Refund Request</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Refund_Request_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Country_of_Purchase__c</field>
            <value>
                <elementReference>CountryOfPurchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>CustomerEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PNR__c</field>
            <value>
                <elementReference>PNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>CustomerPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Numbers__c</field>
            <value>
                <elementReference>TicketNumbers</elementReference>
            </value>
        </inputAssignments>
        <object>Refund_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Case_Information</name>
        <label>Get Current Case Information</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewRefundRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund_Request_Record</name>
        <label>Get Refund Request Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_Case_with_Refund_Request_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Refund_Request</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Refund_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Case_with_Refund_Request_Information</name>
        <label>Update Current Case with Refund Request Information</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Refund_Request_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initially_Provided_PNR__c</field>
            <value>
                <elementReference>PNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Request__c</field>
            <value>
                <elementReference>Create_Refund_Request</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>NewRefundRequest</name>
        <label>New Refund Request</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Refund_Request</targetReference>
        </connector>
        <fields>
            <name>NewRefundRequest_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewRefundRequest_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PNR</name>
                    <dataType>String</dataType>
                    <fieldText>PNR</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;The booking&apos;s PNR. If you have multiple, create multiple refund requests. If one isn&apos;t available, enter six dashes ------.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;PNR should be six characters long. If one isn&apos;t applicable, enter six dashes ------. &lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!PNR}) = 6</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>TicketNumbers</name>
                    <fieldText>Ticket numbers</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;One per line&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CountryOfPurchase</name>
                    <dataType>String</dataType>
                    <fieldText>Country of purchase</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CustomerEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer&apos;s Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Current_Case_Information.SuppliedEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewRefundRequest_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewRefundRequest_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerPhoneNumber</name>
                    <dataType>String</dataType>
                    <fieldText>Customer&apos;s phone number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Add each passenger on a separate line&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refund_Case_without_Refund_Request</name>
        <label>Refund Case without Refund Request</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Current_Case_Information</targetReference>
        </connector>
        <fields>
            <name>CaseWithoutRefundRequest</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Do you need to create a Refund Request for this case?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click next if you need to create a refund request for this case&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Successfully created refund request&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refund_Case_without_Refund_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RefundRequestInfo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Refund Request {!Get_Refund_Request_Record.Name} with PNR {!Get_Refund_Request_Record.PNR__c} has been created to case {!Get_Current_Case_Information.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
