sas-core/main/default/flows/SupportCaseReply.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Parent_Case_Owner</name>
        <label>Notify Parent Case Owner</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ReplyConfirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Reply from support case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>usersToNotify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetSupportCase.Parent.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PostOnParent</name>
        <label>PostOnParent</label>
        <locationX>292</locationX>
        <locationY>398</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_the_case_in_approval_or_control_process</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>SupportMessageToParent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>GetSupportCase.ParentId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_to_notify_the_submitter</name>
        <label>Assign to notify the submitter</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>usersToNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSupportCase.Parent.Approval_Submitter__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Users_to_Notify</name>
        <label>Set Users to Notify</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>usersToNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSupportCase.Parent.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_case_in_approval_or_control_process</name>
        <label>Is the case in approval or control process?</label>
        <locationX>292</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Case_to_New_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetSupportCase.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSupportCase.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Control</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_notify_the_submitter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_the_owner_of_the_parent_case</name>
        <label>Who is the owner of the parent case?</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSupportCase.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Users_to_Notify</targetReference>
            </connector>
            <label>User</label>
        </rules>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSupportCase.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReplyConfirmation</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <interviewLabel>Support Case Reply {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reply to Support Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Parent_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewResponse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSupportCase</name>
        <label>GetSupportCase</label>
        <locationX>292</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Support_Case_Reply</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Case_to_New_Response</name>
        <label>Update Parent Case to New Response</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Who_is_the_owner_of_the_parent_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSupportCase.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Response</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ReplyConfirmation</name>
        <label>ReplyConfirmation</label>
        <locationX>534</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ReplyPosted</name>
            <fieldText>&lt;p&gt;Your reply has been posted to the parent case.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You will receive a notification if the user needs additional clarification.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Support_Case_Reply</name>
        <label>Support Case Reply</label>
        <locationX>292</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PostOnParent</targetReference>
        </connector>
        <fields>
            <name>QuestionAskedBy</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Support case opened by {!UserFullName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Original case number: {!GetSupportCase.Parent.CaseNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SupportQuestion</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!GetSupportCase.Subject}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!GetSupportCase.Description}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SupportReply</name>
            <fieldText>Please enter a reply</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSupportCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notificationMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case {!GetSupportCase.Parent.CaseNumber} has an update from support case {!GetSupportCase.CaseNumber}. Please, check chatter feed in case {!GetSupportCase.Parent.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>SupportMessageToParent</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!SupportReply}
If you need further assistance, please make a comment on this post!</text>
    </textTemplates>
    <textTemplates>
        <name>UserFullName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetSupportCase.CreatedBy.FirstName} {!GetSupportCase.CreatedBy.LastName}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>usersToNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
