sas-core/main/default/flows/SURVEY_RESPONSE_Cleaning_incomplete_responses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_there_an_expiration_date_on_the_survey_invitation</name>
        <label>Is there an expiration date on the survey invitation?</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Remove_expiration_date_from_invitation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invitation.InviteExpiryDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Survey_Response</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Flow to deleting survey responses that are incomplete</description>
    <environments>Default</environments>
    <interviewLabel>SURVEY RESPONSE Cleaning incomplete responses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SURVEY RESPONSE Cleaning incomplete responses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Survey_Response</name>
        <label>Delete Survey Response</label>
        <locationX>176</locationX>
        <locationY>612</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>Remove_expiration_date_from_invitation</name>
        <label>Remove expiration date from invitation</label>
        <locationX>264</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Delete_Survey_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InvitationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InviteExpiryDateTime</field>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_an_expiration_date_on_the_survey_invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </filters>
        <object>SurveyResponse</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-01</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
