sas-core/main/default/flows/SURVEY_Process_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FCS_RemoveAdditionalSurveyResponses</name>
        <label>FCS_RemoveAdditionalSurveyResponses</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>FCS_RemoveAdditionalSurveyResponses</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invitationId</name>
            <value>
                <elementReference>$Record.InvitationId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignInvitationId</name>
        <label>assignInvitationId</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>invitationId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Invitation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FCS_RemoveAdditionalSurveyResponses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsCreated</name>
        <label>IsCreated</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNumberOfResponses</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>countOfResponses</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Invitation.FCS_NumberOfResponses__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SURVEY Process Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SURVEY Process Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateNumberOfResponses</name>
        <label>UpdateNumberOfResponses</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>assignInvitationId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invitation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FCS_NumberOfResponses__c</field>
            <value>
                <elementReference>countOfResponses</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsCreated</targetReference>
        </connector>
        <object>SurveyResponse</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
