sas-core/main/default/flows/THREAT_INCIDENT_Create_an_Incident.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Minimize_flow_screen</name>
        <label>Minimize flow screen</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <actionName>c:MinimizeUtilityItem</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Sending_threat_incident_report</name>
        <label>Sending threat incident report</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <actionName>Threat_Incident__c.Threat_Incident_reporting</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Threat_Incident_Submitted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Incident_Report</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_real_SAS_email_as_destination_emails</name>
        <label>Assign real SAS email as destination emails</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>destinationEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>avsec@sas.se</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>destinationEmail2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>dutymanager@sas.se</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>destinationEmail3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>crimeprevention@sas.se</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Incident_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_test_email_as_destination_email</name>
        <label>Assign test email as destination email</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>destinationEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Incident_Report</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsSandbox</name>
        <label>IsSandbox</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_real_SAS_email_as_destination_emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Sandbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Org_Info.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_enviroment</targetReference>
            </connector>
            <label>Is Sandbox</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accentOptions</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accent__c</picklistField>
        <picklistObject>Threat_Incident__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>attitudeOptions</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Attitude__c</picklistField>
        <picklistObject>Threat_Incident__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>backgroundNoiseOptions</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Background_Noise__c</picklistField>
        <picklistObject>Threat_Incident__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>kindOfThreats</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Threat_Type__c</picklistField>
        <picklistObject>Threat_Incident__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>speechOptions</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Speech__c</picklistField>
        <picklistObject>Threat_Incident__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>threatPlaces</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Threat_Location__c</picklistField>
        <picklistObject>Threat_Incident__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>voiceCharacteristics</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Voice_Characteristics__c</picklistField>
        <picklistObject>Threat_Incident__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Displays the emails to which the incident report was sent to</description>
        <name>emailsForSucessMessage</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Org_Info.IsSandbox} = true , {!sandboxEmailUsed} ,
            {!productionEmailsUsed})</expression>
    </formulas>
    <formulas>
        <name>fullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>userSite</name>
        <dataType>String</dataType>
        <expression>Text({!$User.FCS_Site__c})</expression>
    </formulas>
    <formulas>
        <name>virtualOrganization</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.FCS_VirtualOrganization__c})</expression>
    </formulas>
    <interviewLabel>THREAT INCIDENT Create an Incident {!$Flow.CurrentDateTime}</interviewLabel>
    <label>THREAT INCIDENT Create an Incident</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Incident_Report</name>
        <label>Create Incident Report</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Sending_threat_incident_report</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Accent__c</field>
            <value>
                <elementReference>Accent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aircraft_Flight_or_Building_Knowledge__c</field>
            <value>
                <elementReference>threatIncident.Aircraft_Flight_or_Building_Knowledge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attitude__c</field>
            <value>
                <elementReference>Attitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_Noise__c</field>
            <value>
                <elementReference>Background_noise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_Approx_Age__c</field>
            <value>
                <elementReference>threatIncident.Caller_Approx_Age__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_Email__c</field>
            <value>
                <elementReference>threatIncident.Caller_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_EuroBonus_Number__c</field>
            <value>
                <elementReference>threatIncident.Caller_EuroBonus_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_Identity__c</field>
            <value>
                <elementReference>threatIncident.Caller_Identity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_Location__c</field>
            <value>
                <elementReference>threatIncident.Caller_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_Name__c</field>
            <value>
                <elementReference>threatIncident.Caller_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_Phone__c</field>
            <value>
                <elementReference>threatIncident.Caller_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time__c</field>
            <value>
                <elementReference>threatIncident.Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Email2__c</field>
            <value>
                <elementReference>destinationEmail2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Email3__c</field>
            <value>
                <elementReference>destinationEmail3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Email__c</field>
            <value>
                <elementReference>destinationEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>During_Flight__c</field>
            <value>
                <elementReference>threatIncident.During_Flight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explosive_Device_Description__c</field>
            <value>
                <elementReference>threatIncident.Explosive_Device_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Number__c</field>
            <value>
                <elementReference>threatIncident.Flight_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From__c</field>
            <value>
                <elementReference>threatIncident.From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language_Ability__c</field>
            <value>
                <elementReference>threatIncident.Language_Ability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message_Wording__c</field>
            <value>
                <elementReference>threatIncident.Message_Wording__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>threatIncident.Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Details__c</field>
            <value>
                <elementReference>threatIncident.Other_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speech__c</field>
            <value>
                <elementReference>Speech</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmitterPhone__c</field>
            <value>
                <elementReference>threatIncident.SubmitterPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ThreatCaseNumber__c</field>
            <value>
                <elementReference>threatIncident.ThreatCaseNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threat_Details__c</field>
            <value>
                <elementReference>threatIncident.Threat_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threat_Execution_Time__c</field>
            <value>
                <elementReference>threatIncident.Threat_Execution_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threat_Location__c</field>
            <value>
                <elementReference>Where_will_the_threat_take_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threat_Origin__c</field>
            <value>
                <elementReference>threatIncident.Threat_Origin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threat_Reason__c</field>
            <value>
                <elementReference>threatIncident.Threat_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threat_Receiver__c</field>
            <value>
                <elementReference>Threat_received_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Threat_Type__c</field>
            <value>
                <elementReference>What_kind_of_threat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To__c</field>
            <value>
                <elementReference>threatIncident.To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voice_Characteristics__c</field>
            <value>
                <elementReference>Voice_characteristics</elementReference>
            </value>
        </inputAssignments>
        <object>Threat_Incident__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Org_Info</name>
        <label>Get Org Info</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsSandbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe</targetReference>
        </connector>
        <fields>
            <name>Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FaultMessage</name>
                    <fieldText>&lt;p&gt;There has been an error. Please try
                        again&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error detail:
                        {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_enviroment</name>
        <label>Test enviroment</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_test_email_as_destination_email</targetReference>
        </connector>
        <fields>
            <name>TestingInstructions</name>
            <fieldText>&lt;p&gt;At the moment, you are using the &quot;Report Threat Incident&quot;
                in a test environment. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please
                provide the email to which you wan to the send Threat Incident Report&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TestEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email for testing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>$User.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Threat_Incident_Submitted</name>
        <label>Threat Incident Submitted</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Minimize_flow_screen</targetReference>
        </connector>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;Threat Incident Report has been submitted to the following email(s):
                &lt;/p&gt;&lt;p&gt;{!emailsForSucessMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe</name>
        <label>Threat Report towards SAS via Phone, Chat or SoMe</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Org_Info</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>Instructions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Instructions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InstructionDetails</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If you receive a threat of any kind towards SAS, please act accordingly:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Call SAS Traffic Control and the Police with as many details as possible from the below report&lt;/strong&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;SAS Traffic control STOOP/OCC) +46 8 797 5114&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The Police 112&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;After the call submit threat incident report by pressing &quot;Submit&quot;, it will be sent automatically to:&lt;/strong&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;SAS Duty Security Officer (avsec@sas.se)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;STOOP Duty Production Manager (dutymanager@sas.se)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Crime Prevention (crimeprevention@sas.se)&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Your_details</name>
            <fieldText>Your details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Your_details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Threat_received_by</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fullName</elementReference>
                    </defaultValue>
                    <fieldText>Threat received by</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial,
                        Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Person who received the
                        threat.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Your_details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Department</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>virtualOrganization</elementReference>
                    </defaultValue>
                    <fieldText>Department</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Your_details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>userSite</elementReference>
                    </defaultValue>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Your_details_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.SubmitterPhone__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Threat_incident</name>
            <fieldText>Threat incident</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Threat_incident_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Threat_Origin__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Threat_incident_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Date_Time__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>threatIncident.Message_Wording__c</objectFieldReference>
        </fields>
        <fields>
            <name>Useful_questions_to_collect_more_specific_information</name>
            <fieldText>Useful questions to collect more specific information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Useful_questions_to_collect_more_specific_information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_kind_of_threat</name>
                    <choiceReferences>kindOfThreats</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What kind of threat?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Useful_questions_to_collect_more_specific_information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Where_will_the_threat_take_place</name>
                    <choiceReferences>threatPlaces</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Where will the threat take place?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>threatIncident.Threat_Details__c</objectFieldReference>
        </fields>
        <fields>
            <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Flight_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.From__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.To__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.During_Flight__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Threat_Execution_Time__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Explosive_Device_Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>threatIncident.Threat_Reason__c</objectFieldReference>
        </fields>
        <fields>
            <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Caller_Name__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Organization__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Caller_Location__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_details</name>
            <fieldText>Additional details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Caller_Email__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Caller_Identity__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Aircraft_Flight_or_Building_Knowledge__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.ThreatCaseNumber__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Caller_Approx_Age__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Language_Ability__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Voice_characteristics</name>
                    <choiceReferences>voiceCharacteristics</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Voice characteristics</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Speech</name>
                    <choiceReferences>speechOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Speech</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Caller_Phone__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>threatIncident.Caller_EuroBonus_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Accent</name>
                    <choiceReferences>accentOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Accent</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Attitude</name>
                    <choiceReferences>attitudeOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Attitude</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Background_noise</name>
                    <choiceReferences>backgroundNoiseOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Background noise</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>threatIncident.Other_Details__c</objectFieldReference>
        </fields>
        <fields>
            <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InfoMessage</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Before submitting the report please make sure that SAS Traffic Control has been contacted according to instructions above.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Threat_Report_towards_SAS_via_Phone_Chat_or_SoMe</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>productionEmailsUsed</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!destinationEmail}&lt;/li&gt;&lt;li&gt;{!destinationEmail2}&lt;/li&gt;&lt;li&gt;{!destinationEmail3}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sandboxEmailUsed</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!destinationEmail}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>destinationEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>destinationEmail2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>destinationEmail3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>threatIncident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Threat_Incident__c</objectType>
    </variables>
</Flow>
