sas-core/main/default/flows/To_Other_Department.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Posts the internal comments to the chatter feed on the case</description>
        <name>CaseChatterFeed</name>
        <label>CaseChatterFeed</label>
        <locationX>1634</locationX>
        <locationY>1238</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Redirect_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Reason_for_Redirection_Escalation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Escalation Reason to chatter</description>
        <name>Posting_Escalation_Reason_to_Chatter</name>
        <label>Posting Escalation Reason to Chatter</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>EscalateCurrentCase</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Reason_for_Redirection_Escalation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_department_name_as_queue_name</name>
        <label>Assign department name as queue name</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentList.topValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDepartmentQueueId</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Escalation</description>
        <name>Escalation</name>
        <choiceText>Escalation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalation</stringValue>
        </value>
    </choices>
    <choices>
        <description>High</description>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;High&quot;</stringValue>
        </value>
    </choices>
    <choices>
        <description>Medium</description>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Medium&quot;</stringValue>
        </value>
    </choices>
    <choices>
        <description>Redirection Request Type To Other Department.</description>
        <name>Redirection</name>
        <choiceText>Redirection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Redirection</stringValue>
        </value>
    </choices>
    <choices>
        <description>Option for redirection</description>
        <name>Support</name>
        <choiceText>Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Validates refund cases have a refund request record with a PNR before redirecting, creating a support case or escalating the case</description>
        <name>Is_refund_case_with_refund_request_recod</name>
        <label>Is refund case with refund request recod?</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>To_Other_Department</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund_Request_record_is_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Refund_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunds</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RefundRequestMissing</targetReference>
            </connector>
            <label>Refund Request record is needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_status_valid</name>
        <label>Is status valid?</label>
        <locationX>347</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Is_refund_case_with_refund_request_recod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>To other department</defaultConnectorLabel>
        <rules>
            <name>Invalid_statuses_for_to_other_department_process</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Control</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Case_Error</targetReference>
            </connector>
            <label>Invalid statuses  for to other department process</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validating that the department and team is validated for redirection, support and escalations cases</description>
        <name>Is_the_department_validated</name>
        <label>Is the department validated?</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_department_name_as_queue_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Department_not_available_for_redirection_support_and_escalation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunds OC KANA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SoMe Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Department_not_available</targetReference>
            </connector>
            <label>Department not available for redirection, support, and escalation</label>
        </rules>
        <rules>
            <name>Functional_Product_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Functional Product Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Functional_Production_Support_Error</targetReference>
            </connector>
            <label>Functional Product Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redirection_Support_Or_Escalation</name>
        <label>Redirection Support Or Escalation</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>CaseChatterFeed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Redirection Request</defaultConnectorLabel>
        <rules>
            <name>Support_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Support</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Case</targetReference>
            </connector>
            <label>Support Request</label>
        </rules>
        <rules>
            <name>Escalation_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Escalation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Posting_Escalation_Reason_to_Chatter</targetReference>
            </connector>
            <label>Escalation Request</label>
        </rules>
    </decisions>
    <description>Use to redirection, support and escalation processes</description>
    <dynamicChoiceSets>
        <description>The department that which the redirection is going to be sent to</description>
        <name>AvailableDepartment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Department__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The team in the department that is required for the redirection</description>
        <name>AvailableTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Team__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>InputPriority</name>
        <dataType>String</dataType>
        <expression>IF({!Priority} = &quot;Medium&quot;, &quot;Medium&quot;, &quot;High&quot;)</expression>
    </formulas>
    <formulas>
        <name>Outcome</name>
        <dataType>String</dataType>
        <expression>IF({!Request_Type} = {!Redirection}, &quot;Case has been redirected to&quot;, IF({!Request_Type} = {!Support}, &quot;A Support Case has been created to&quot;, &quot; Case has been escalated to&quot;))</expression>
    </formulas>
    <formulas>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <expression>IF( {!DependentList.topValue} = &quot;Info Hub&quot;, &quot;Internal/Backoffice&quot;, IF( {!DependentList.topValue} = &quot;Functional Product Support&quot;, &quot;Functional Product Support&quot;, IF( {!DependentList.topValue} = &quot;Liability&quot;, &quot;Claim&quot;, &quot;Channel&quot;)))</expression>
    </formulas>
    <formulas>
        <description>Depending on the priority the  IsEscalated value will be set to TRUE or FALSE</description>
        <name>SetEscalatedValue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!InputPriority} = &quot;Medium&quot;,   FALSE, TRUE)</expression>
    </formulas>
    <interviewLabel>To Other Department {!$Flow.CurrentDateTime}</interviewLabel>
    <label>To Other Department</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates  a support case based on the information capture in the To Other Department Screen</description>
        <name>Create_Support_Case</name>
        <label>Create Support Case</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>UpdateCurrentCaseInformation</targetReference>
        </connector>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>DependentList.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Consent__c</field>
            <value>
                <elementReference>GetCurrentCaseInformation.GDPR_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>SetEscalatedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal - Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDepartmentQueueId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>InputPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>DependentList.middleValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets all the information of the case where the flow was triggered from</description>
        <name>GetCurrentCaseInformation</name>
        <label>GetCurrentCaseInformation</label>
        <locationX>347</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_status_valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDepartmentQueueId</name>
        <label>GetDepartmentQueueId</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Escalates the case another department</description>
        <name>EscalateCurrentCase</name>
        <label>EscalateCurrentCase</label>
        <locationX>1370</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Redirection_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentCaseInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>DependentList.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseResolution__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseType__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_Case_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>SetEscalatedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDepartmentQueueId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>InputPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>DependentList.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the current case to be directed to the right skill</description>
        <name>Redirect_Case</name>
        <label>Redirect Case</label>
        <locationX>1634</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Redirection_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentCaseInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>DependentList.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseResolution__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseType__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_Case_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>SetEscalatedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRedirected__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDepartmentQueueId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>InputPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>DependentList.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCurrentCaseInformation</name>
        <label>UpdateCurrentCaseInformation</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Redirection_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentCaseInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Created_Support_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Closed_Case_Error</name>
        <label>Closed Case Error</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Closed_Case_Error_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Cases in &quot;{!GetCurrentCaseInformation.Status}&quot; status cannot be redirected or escalated to other department.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Department_not_available</name>
        <label>Department not available</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Refunds_OC_KANA_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Department  &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!DependentList.topValue} &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;is not available for Redirection, Support and Escalations&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Functional_Production_Support_Error</name>
        <label>Functional Production Support Error</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Functional_Product_Support_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Department Functional Product Support is not available for Redirection, Support and Escalations. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please use the Functional Product Support action in the utility bar&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirection_Submission</name>
        <label>Redirection Submission</label>
        <locationX>1370</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalOutcome</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Outcome} {!DependentList.topValue}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;If you need to create a new support case, please click on Finish and click on To Other Department&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RefundRequestMissing</name>
        <label>Refund Request missing</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RefundRequestIsNeeded</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This Refund case requires a Refund request before Redirection, Support or Escalation. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please use New Refund Request from case in the right side of the page&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Input for making a request to another department</description>
        <name>To_Other_Department</name>
        <label>To Other Department</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_the_department_validated</targetReference>
        </connector>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>Redirection</choiceReferences>
            <choiceReferences>Support</choiceReferences>
            <choiceReferences>Escalation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DependentList</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Department__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Department</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Team</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>AvailableDepartment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>AvailableTeam</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Redirection_Escalation</name>
            <dataType>String</dataType>
            <fieldText>Reason for Redirection/Escalation</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;The reason why you are redirecting or escalating the current case&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Redirection</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Escalation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please write the subject for creating a support case&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Support</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please describe what it is needed from the other department/team&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Support</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentCaseInformation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Gets the care record type based on the Department and Team</description>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Redirection_Support_Or_Escalation</targetReference>
        </connector>
        <flowName>Assign_Record_Type_for_Case_Object</flowName>
        <inputAssignments>
            <name>Department</name>
            <value>
                <elementReference>DependentList.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Team</name>
            <value>
                <elementReference>DependentList.middleValue</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecordTypeId</assignToReference>
            <name>RecordTypeOutput</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>It is the case record id based on department and team combination</description>
        <name>CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Queue name that needs to be assigned</description>
        <name>queueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the record from where the flow was triggered</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
