sas-core/main/default/flows/To_Other_Department.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Posts the internal comments to the chatter feed on the case</description>
        <name>CaseChatterFeed</name>
        <label>CaseChatterFeed</label>
        <locationX>3130</locationX>
        <locationY>1478</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Redirect_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Reason_for_Redirection_Escalation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Escalation Reason to chatter</description>
        <name>Posting_Escalation_Reason_to_Chatter</name>
        <label>Posting Escalation Reason to Chatter</label>
        <locationX>2602</locationX>
        <locationY>1358</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>EscalateCurrentCase</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Reason_for_Redirection_Escalation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Route_Support_Case_to_Claim_Queue</name>
        <label>Route Support Case to Claim Queue</label>
        <locationX>1634</locationX>
        <locationY>3038</locationY>
        <actionName>RouteCaseAndSetPriority</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Do_we_need_set_the_parent_case_to_On_hold</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseToRoute</name>
            <value>
                <elementReference>Create_Support_Case</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Comments_as_Description</name>
        <label>Assign Comments as Description</label>
        <locationX>1634</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>descriptionContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Support_Case_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_department_name_as_queue_name</name>
        <label>Assign department name as queue name</label>
        <locationX>2514</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentList.topValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDepartmentQueueId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Description_Content</name>
        <label>Assign Description Content</label>
        <locationX>2294</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>descriptionContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Support_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Note_as_Description</name>
        <label>Assign Note as Description</label>
        <locationX>1766</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>descriptionContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Refund_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_case_status_On_Hold</name>
        <label>Set case status &quot;On Hold&quot;</label>
        <locationX>2162</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>caseStatusAfterSupport</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentCaseInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_the_current_case_status</name>
        <label>Set the current case status</label>
        <locationX>1898</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>caseStatusAfterSupport</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentCaseInformation.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentCaseInformation</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Escalation</description>
        <name>Escalation</name>
        <choiceText>Escalation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalation</stringValue>
        </value>
    </choices>
    <choices>
        <description>High</description>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;High&quot;</stringValue>
        </value>
    </choices>
    <choices>
        <description>Medium</description>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Medium&quot;</stringValue>
        </value>
    </choices>
    <choices>
        <description>Redirection Request Type To Other Department.</description>
        <name>Redirection</name>
        <choiceText>Redirection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Redirection</stringValue>
        </value>
    </choices>
    <choices>
        <description>Option for redirection</description>
        <name>Support</name>
        <choiceText>Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_redirection_from_Customer_Claim_to_Liability</name>
        <label>Check if redirection from Customer Claim to Liability</label>
        <locationX>2998</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>CaseChatterFeed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_need_set_the_parent_case_to_On_hold</name>
        <label>Do we need set the parent case to &quot;On hold&quot;?</label>
        <locationX>2030</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Set_case_status_On_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_current_case_status</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_customer_claim</name>
        <label>Is it customer claim?</label>
        <locationX>2030</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Do_we_need_set_the_parent_case_to_On_hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Claim1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DependentList.middleValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Payment Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Comments_as_Description</targetReference>
            </connector>
            <label>Customer Claim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_record_type_emergency</name>
        <label>Is it record type emergency?</label>
        <locationX>385</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Is_status_valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emergency_Case_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emergency_Case_Error</targetReference>
            </connector>
            <label>Emergency Case Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates refund cases have a refund request record with a PNR before redirecting, creating a support case or escalating the case</description>
        <name>Is_refund_case_with_refund_request_record</name>
        <label>Is refund case with refund request record?</label>
        <locationX>1128</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>To_Other_Department</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund_Request_record_is_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Refund_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunds</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RefundRequestMissing</targetReference>
            </connector>
            <label>Refund Request record is needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Refund_Request_needed</name>
        <label>Is Refund Request needed</label>
        <locationX>2030</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Assign_Description_Content</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Refund_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunds</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Note_as_Description</targetReference>
            </connector>
            <label>Yes, Refund Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_status_valid</name>
        <label>Is status valid?</label>
        <locationX>721</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Is_refund_case_with_refund_request_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>To other department</defaultConnectorLabel>
        <rules>
            <name>Invalid_statuses_for_to_other_department_process</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Control</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Case_Error</targetReference>
            </connector>
            <label>Invalid statuses  for to other department process</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validating that the department and team is validated for redirection, support and escalations cases</description>
        <name>Is_the_department_validated</name>
        <label>Is the department validated?</label>
        <locationX>1678</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_department_name_as_queue_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Department_not_available_for_redirection_support_and_escalation</name>
            <conditionLogic>1 OR 2 OR (3 AND 4 AND 5 AND 6) OR 7</conditionLogic>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunds OC KANA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SoMe Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refunds</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distribution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Department_not_available</targetReference>
            </connector>
            <label>Department not available for redirection, support, and escalation</label>
        </rules>
        <rules>
            <name>Functional_Product_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DependentList.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Functional Product Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Functional_Production_Support_Error</targetReference>
            </connector>
            <label>Functional Product Support</label>
        </rules>
        <rules>
            <name>Only_support_cases_are_allowed_from_Distribution_department</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS Norway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Redirection</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Escalation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distribution_Department_Error</targetReference>
            </connector>
            <label>Only support cases are allowed from Distribution department</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redirection_Support_Or_Escalation</name>
        <label>Redirection Support Or Escalation</label>
        <locationX>2514</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Check_if_redirection_from_Customer_Claim_to_Liability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Redirection Request</defaultConnectorLabel>
        <rules>
            <name>Support_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Support</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Refund_Request_needed</targetReference>
            </connector>
            <label>Support Request</label>
        </rules>
        <rules>
            <name>Escalation_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Escalation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Posting_Escalation_Reason_to_Chatter</targetReference>
            </connector>
            <label>Escalation Request</label>
        </rules>
    </decisions>
    <description>Use to redirection, support and escalation processes</description>
    <dynamicChoiceSets>
        <description>The department that which the redirection is going to be sent to</description>
        <name>AvailableDepartment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Department__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The team in the department that is required for the redirection</description>
        <name>AvailableTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Team__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>claimRecordTypeName</name>
        <dataType>String</dataType>
        <expression>IF({!CustomerClaimCategoryType.topValue} = &quot;Compensation Card&quot;, &quot;CompensationCard&quot;, &quot;CustomerClaim&quot;)</expression>
    </formulas>
    <formulas>
        <name>InputPriority</name>
        <dataType>String</dataType>
        <expression>IF({!Priority} = &quot;Medium&quot;, &quot;Medium&quot;, &quot;High&quot;)</expression>
    </formulas>
    <formulas>
        <name>Outcome</name>
        <dataType>String</dataType>
        <expression>IF({!Request_Type} = {!Redirection}, &quot;Case has been redirected to&quot;, IF({!Request_Type} = {!Support}, &quot;A Support Case has been created to&quot;, &quot; Case has been escalated to&quot;))</expression>
    </formulas>
    <formulas>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <expression>IF( {!DependentList.topValue} = &quot;Info Hub&quot;, &quot;Internal/Backoffice&quot;, IF( {!DependentList.topValue} = &quot;Functional Product Support&quot;, &quot;Functional Product Support&quot;, IF( {!DependentList.topValue} = &quot;Liability&quot;, &quot;Claim&quot;, &quot;Channel&quot;)))</expression>
    </formulas>
    <formulas>
        <description>Depending on the priority the  IsEscalated value will be set to TRUE or FALSE</description>
        <name>SetEscalatedValue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!InputPriority} = &quot;Medium&quot;,   FALSE, TRUE)</expression>
    </formulas>
    <interviewLabel>To Other Department {!$Flow.CurrentDateTime}</interviewLabel>
    <label>To Other Department</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>1634</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>Update_Support_Case_with_Customer_Claim_Info</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CustomerCreationError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>Create_Customer_Claim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer_Claim</name>
        <label>Create Customer Claim</label>
        <locationX>1634</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>Create_Customer</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CustomerClaimError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Support_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>descriptionContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concerns_a_person_with_reduced_mobility__c</field>
            <value>
                <elementReference>Concerns_a_person_with_reduced_mobility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concerns_an_unaccompanied_minor__c</field>
            <value>
                <elementReference>Concerns_an_unaccompanied_minor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>CustomerClaimCustomerEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Claim_Category__c</field>
            <value>
                <elementReference>CustomerClaimCategoryType.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Claim_Type__c</field>
            <value>
                <elementReference>CustomerClaimCategoryType.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EuroBonus_Number__c</field>
            <value>
                <elementReference>EuroBonus_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Date__c</field>
            <value>
                <elementReference>Flight_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Number__c</field>
            <value>
                <elementReference>Flight_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_PNR__c</field>
            <value>
                <elementReference>CustomerClaimPNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Support_Case_Information.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIR__c</field>
            <value>
                <elementReference>PIR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>CustomerClaimPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Claim_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Customer__c</field>
            <value>
                <stringValue>Private Customer</stringValue>
            </value>
        </inputAssignments>
        <object>LIA_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Refund_Request</name>
        <label>Create Refund Request</label>
        <locationX>1766</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Create_Support_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RefundRequestError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Country_of_Purchase__c</field>
            <value>
                <elementReference>CountryOfPurchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>RefundRequestCustomerEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>descriptionContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PNR__c</field>
            <value>
                <elementReference>RefundRequestPNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Numbers__c</field>
            <value>
                <elementReference>TicketNumbers</elementReference>
            </value>
        </inputAssignments>
        <object>Refund_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates  a support case based on the information capture in the To Other Department Screen</description>
        <name>Create_Support_Case</name>
        <label>Create Support Case</label>
        <locationX>2030</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Is_it_customer_claim</targetReference>
        </connector>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>DependentList.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descriptionContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_EBNumber__c</field>
            <value>
                <elementReference>EuroBonus_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Consent__c</field>
            <value>
                <elementReference>GetCurrentCaseInformation.GDPR_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initially_Provided_PNR__c</field>
            <value>
                <elementReference>RefundRequestPNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>SetEscalatedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal - Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDepartmentQueueId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>InputPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Request__c</field>
            <value>
                <elementReference>Create_Refund_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>DependentList.middleValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Claim_Record_Type</name>
        <label>Get Claim Record Type</label>
        <locationX>1634</locationX>
        <locationY>2558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Customer_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Support_Case_Information</name>
        <label>Get Support Case Information</label>
        <locationX>1634</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Claim_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Support_Case</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all the information of the case where the flow was triggered from</description>
        <name>GetCurrentCaseInformation</name>
        <label>GetCurrentCaseInformation</label>
        <locationX>385</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_record_type_emergency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDepartmentQueueId</name>
        <label>GetDepartmentQueueId</label>
        <locationX>2514</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Escalates the case another department</description>
        <name>EscalateCurrentCase</name>
        <label>EscalateCurrentCase</label>
        <locationX>2602</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Redirection_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentCaseInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>DependentList.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseResolution__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseType__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_Case_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>SetEscalatedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDepartmentQueueId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>InputPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>DependentList.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the current case to be directed to the right skill</description>
        <name>Redirect_Case</name>
        <label>Redirect Case</label>
        <locationX>3130</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Redirection_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentCaseInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>DependentList.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseResolution__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseType__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_Case_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>SetEscalatedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRedirected__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDepartmentQueueId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>InputPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>DependentList.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Support_Case_with_Customer_Claim_Info</name>
        <label>Update Support Case with Customer Claim Info</label>
        <locationX>1634</locationX>
        <locationY>2918</locationY>
        <connector>
            <targetReference>Route_Support_Case_to_Claim_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Support_Case</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descriptionContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initially_Provided_PNR__c</field>
            <value>
                <elementReference>CustomerClaimPNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIA_Claim__c</field>
            <value>
                <elementReference>Create_Customer_Claim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>CustomerClaimCustomerEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCurrentCaseInformation</name>
        <label>UpdateCurrentCaseInformation</label>
        <locationX>2030</locationX>
        <locationY>3614</locationY>
        <connector>
            <targetReference>Redirection_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentCaseInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Created_Support_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>caseStatusAfterSupport</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Closed_Case_Error</name>
        <label>Closed Case Error</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Closed_Case_Error_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Cases in &quot;{!GetCurrentCaseInformation.Status}&quot; status cannot be redirected or escalated to other department.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CustomerClaimError</name>
        <label>Customer Claim Error</label>
        <locationX>2162</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCustomerClaimCreation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Customer Claim cannot be created at this moment.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If the error is due to invalid data, please click on &quot;previous&quot;, correct the invalid data and try again.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CustomerCreationError</name>
        <label>Customer Creation Error</label>
        <locationX>1898</locationX>
        <locationY>2918</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCustomerCreation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Customer cannot be created at this moment.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If the error is due to invalid data, please click on &quot;previous&quot;, correct the invalid data and try again.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Department_not_available</name>
        <label>Department not available</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Refunds_OC_KANA_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Department  &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!DependentList.topValue} &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;is not available for Redirection, Support and Escalations&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Distribution_Department_Error</name>
        <label>Distribution Department Error</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>To_Other_Department</targetReference>
        </connector>
        <fields>
            <name>OnlySupportCaseAllowed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!GetCurrentCaseInformation.Team__c} is only allowed to create support cases to other departments and teams&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emergency_Case_Error</name>
        <label>Emergency Case Error</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmergencyCase</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To Other Department functionality is not available for Emergency Cases.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Functional_Production_Support_Error</name>
        <label>Functional Production Support Error</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Functional_Product_Support_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Department Functional Product Support is not available for Redirection, Support and Escalations. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please use the Functional Product Support action in the utility bar&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>2866</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Case cannot be redirected from Customer Claim to Liability. If this claim is a Liability claim please follow.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Create liability case&lt;/li&gt;&lt;li&gt;Add the customer claim in the parent case field of the liability case and save&lt;/li&gt;&lt;li&gt;Click on create liability claim. The system will then fetch all data from the customer claim to populate the fields.&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirection_Submission</name>
        <label>Redirection Submission</label>
        <locationX>2514</locationX>
        <locationY>3830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalOutcome</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Outcome} {!DependentList.topValue}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;If you need to create a new support case, please click on Finish and click on To Other Department&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RefundRequestError</name>
        <label>Refund Request Error</label>
        <locationX>2030</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorRefundRequestCreation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Refund Request cannot be created at this moment.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If the error is due to invalid data, please click on &quot;previous&quot;, correct the invalid data and try again.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RefundRequestMissing</name>
        <label>Refund Request missing</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RefundRequestIsNeeded</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This Refund case requires a Refund request before Redirection, Support or Escalation. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please use New Refund Request from case in the right side of the page&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Input for making a request to another department</description>
        <name>To_Other_Department</name>
        <label>To Other Department</label>
        <locationX>1678</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_the_department_validated</targetReference>
        </connector>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>Redirection</choiceReferences>
            <choiceReferences>Support</choiceReferences>
            <choiceReferences>Escalation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DependentList</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Department__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Department</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Team</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>AvailableDepartment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>AvailableTeam</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Redirection_Escalation</name>
            <dataType>String</dataType>
            <fieldText>Reason for Redirection/Escalation</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;The reason why you are redirecting or escalating the current case&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Redirection</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Escalation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please write the subject for creating a support case&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Support</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please describe what it is needed from the other department/team&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Support</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentList.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Refunds</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentList.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Customer Claim</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentList.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Payment Escalation</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RefundRequestInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Refund Request Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DependentList.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Refunds</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Support</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>To_Other_Department_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>To_Other_Department_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RefundRequestPNR</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetCurrentCaseInformation.Initially_Provided_PNR__c</elementReference>
                    </defaultValue>
                    <fieldText>PNR</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;PNR should be six characters long. If one isn&apos;t applicable, enter six dashes ------.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;PNR should be six characters long. If one isn&apos;t applicable, enter six dashes ------.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!RefundRequestPNR}) = 6</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>TicketNumbers</name>
                    <fieldText>Ticket numbers</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;One per line&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CountryOfPurchase</name>
                    <dataType>String</dataType>
                    <fieldText>Country of purchase</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>RefundRequestCustomerEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer&apos;s Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetCurrentCaseInformation.SuppliedEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RefundRequestPhone</name>
                    <dataType>String</dataType>
                    <fieldText>Customer&apos;s phone number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Note</name>
                    <fieldText>Note</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Add each passenger on a separate line&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DependentList.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Refunds</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Support</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>To_Other_Department_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>To_Other_Department_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerClaimGeneralnfo</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Customer Claim General Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CustomerClaimCategoryType</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>LIA_Claim__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Customer_Claim_Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Customer_Claim_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Comments</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Support</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentList.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer Claim</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentList.middleValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Payment Escalation</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>To_Other_Department_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>To_Other_Department_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Concerns_an_unaccompanied_minor</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Concerns an unaccompanied minor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>To_Other_Department_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Concerns_a_person_with_reduced_mobility</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Concerns a person with reduced mobility</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DependentList.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer Claim</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Support</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentList.middleValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Payment Escalation</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Support</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentList.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer Claim</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentList.middleValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Payment Escalation</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>To_Other_Department_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>To_Other_Department_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CustomerClaimCustomerEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetCurrentCaseInformation.SuppliedEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>To_Other_Department_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EuroBonus_Number</name>
                    <dataType>String</dataType>
                    <fieldText>EuroBonus Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;There are 9 numbers in a EuroBonus Number&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!EuroBonus_Number}) = 9</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CustomerClaimPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Support</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentList.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer Claim</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentList.middleValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Payment Escalation</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlightInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Flight Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Baggage</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>To_Other_Department_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>To_Other_Department_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerClaimPNR</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetCurrentCaseInformation.Initially_Provided_PNR__c</elementReference>
                    </defaultValue>
                    <fieldText>PNR</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Flight_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Flight Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>To_Other_Department_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ticket_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Ticket Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Flight_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Flight Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Baggage</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>To_Other_Department_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>To_Other_Department_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BaggageInformation</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Baggage Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PIR</name>
                    <dataType>String</dataType>
                    <fieldText>PIR</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomerClaimCategoryType.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Baggage</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>259</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentCaseInformation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Gets the care record type based on the Department and Team</description>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>2514</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Redirection_Support_Or_Escalation</targetReference>
        </connector>
        <flowName>Assign_Record_Type_for_Case_Object</flowName>
        <inputAssignments>
            <name>Department</name>
            <value>
                <elementReference>DependentList.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Team</name>
            <value>
                <elementReference>DependentList.middleValue</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecordTypeId</assignToReference>
            <name>RecordTypeOutput</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>It is the case record id based on department and team combination</description>
        <name>CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseStatusAfterSupport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>descriptionContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Queue name that needs to be assigned</description>
        <name>queueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the record from where the flow was triggered</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refundRequestInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Refund_Request__c</objectType>
    </variables>
</Flow>
