sas-core/main/default/flows/UTIL_Count_Number_of_Settlements_for_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Calculate_Number_of_Settlements</name>
        <label>Calculate Number of Settlements</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>numberOfSettlementsInStatus</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Settlements_for_this_Claim</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Settlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_invalid_Settlement_count</name>
        <label>Increase invalid Settlement count</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>numberOfInvalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_each_Settlement.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invalidSettlementInformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_each_Settlement.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_each_Settlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_invalid_Settlement_count_0</name>
        <label>Increase invalid Settlement count</label>
        <locationX>754</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>numberOfInvalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_each_Settlement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invalidSettlementInformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_each_Settlement.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_each_Settlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_invalid_Settlement_count_0_0</name>
        <label>Increase invalid Settlement count</label>
        <locationX>1194</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>numberOfInvalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_each_Settlement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invalidSettlementInformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_each_Settlement.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_each_Settlement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Settlement_is_valid_EB_Points</name>
        <label>Settlement is valid - EB Points</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Increase_invalid_Settlement_count_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_EB_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.EuroBonus_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.EuroBonus_Points__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_each_Settlement</targetReference>
            </connector>
            <label>Valid - EB Points</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_is_valid_Monetary</name>
        <label>Settlement is valid - Monetary</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Increase_invalid_Settlement_count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Monetary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Bank_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.BIC_Swift__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Payee_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Currency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Bank_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Bank_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Address_line_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Postal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_each_Settlement</targetReference>
            </connector>
            <label>Valid - Monetary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_is_valid_Voucher</name>
        <label>Settlement is valid - Voucher</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Increase_invalid_Settlement_count_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Voucher_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Currency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Payee_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Payee_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_each_Settlement</targetReference>
            </connector>
            <label>Valid - Voucher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_Type</name>
        <label>Settlement Type</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Validate_each_Settlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Monetary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monetary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Settlement_is_valid_Monetary</targetReference>
            </connector>
            <label>Monetary</label>
        </rules>
        <rules>
            <name>Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Settlement_is_valid_Voucher</targetReference>
            </connector>
            <label>Voucher</label>
        </rules>
        <rules>
            <name>EB_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EB Points</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Settlement_is_valid_EB_Points</targetReference>
            </connector>
            <label>EB Points</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Settlements</name>
        <label>Validate Settlements?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shouldValidateSettlements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_each_Settlement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shouldValidateSettlements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>UTIL Count Number of Settlements for Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UTIL Count Number of Settlements for Status</label>
    <loops>
        <name>Validate_each_Settlement</name>
        <label>Validate each Settlement</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Settlements_for_this_Claim</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Settlement_Type</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Settlements_for_this_Claim</name>
        <label>Get Settlements for this Claim</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Number_of_Settlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>statusToCheck</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Settlements_for_this_Claim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invalidSettlementInformation</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invalidSettlements</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>numberOfInvalidSettlements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberOfSettlementsInStatus</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>shouldValidateSettlements</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusToCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
