sas-core/main/default/flows/UTIL_Count_Number_of_Settlements_for_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Calculate_Number_of_Settlements</name>
        <label>Calculate Number of Settlements</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>numberOfSettlementsInStatus</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Settlements_for_this_Claim</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>UTIL Count Number of Settlements for Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UTIL Count Number of Settlements for Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Settlements_for_this_Claim</name>
        <label>Get Settlements for this Claim</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Number_of_Settlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>statusToCheck</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Settlements_for_this_Claim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberOfSettlementsInStatus</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>statusToCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
