sas-core/main/default/flows/UTIL_Duplicate_Check_Refund.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Chatter_on_Duplicate</name>
        <label>Post Chatter on Duplicate</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Post_Comment_on_Duplicates</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>commentOnDuplicates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_duplicate_Case.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_on_new_Case</name>
        <label>Post on new Case</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>commentOnNewCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_connected_case.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_duplicate_Case_Number_to_Collection</name>
        <label>Add duplicate Case Number to Collection</label>
        <locationX>490</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>relatedOpenCaseNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_duplicate_Case.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Only_post_on_duplicates_for_new_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_duplicate_Case_Number_to_Collection_0</name>
        <label>Add duplicate Case Number to Collection</label>
        <locationX>226</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>relatedClosedCaseNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_duplicate_Case.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Only_post_on_duplicates_for_new_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_number_of_duplicates</name>
        <label>Get number of duplicates</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>numberOfDuplicates</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Potential_Duplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Duplicates_exist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Duplicate_Case_Status</name>
        <label>Duplicate Case Status</label>
        <locationX>358</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Add_duplicate_Case_Number_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_duplicate_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_duplicate_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_duplicate_Case_Number_to_Collection_0</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Duplicates_exist</name>
        <label>If Duplicates exist</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfDuplicates</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Comment_on_Duplicates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_record_was_found</name>
        <label>If record was found</label>
        <locationX>600</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Post_Comment_on_Duplicates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_duplicate_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Case_Status</targetReference>
            </connector>
            <label>Case found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_post_on_duplicates_for_new_cases</name>
        <label>Only post on duplicates for new cases</label>
        <locationX>358</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isManualCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Chatter_on_Duplicate</targetReference>
            </connector>
            <label>New Case</label>
        </rules>
        <rules>
            <name>Manual_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isManualCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Comment_on_Duplicates</targetReference>
            </connector>
            <label>Manual Check</label>
        </rules>
    </decisions>
    <interviewLabel>UTIL Duplicate Check - Refund {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UTIL Duplicate Check - Refund</label>
    <loops>
        <name>Post_Comment_on_Duplicates</name>
        <label>Post Comment on Duplicates</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Potential_Duplicates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_duplicate_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Post_on_new_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_connected_case</name>
        <label>Get connected case</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Refund_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_duplicate_Case</name>
        <label>Get duplicate Case</label>
        <locationX>600</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_record_was_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refund_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Comment_on_Duplicates.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_connected_case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Potential_Duplicates</name>
        <label>Get Potential Duplicates</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_number_of_duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Refund_Request.PNR__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Refund_Request.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Refund_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund_Request</name>
        <label>Get Refund Request</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Potential_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_connected_case.Refund_Request__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Refund_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_connected_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>commentOnDuplicates</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new case was created in relation to this PNR.
Case number: {!Get_connected_case.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>commentOnNewCase</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Number of Refund Request found with the same PNR: {!numberOfDuplicates}
Related Open Cases: {!relatedOpenCaseNumbers}
Related Closed Cases: {!relatedClosedCaseNumbers}</text>
    </textTemplates>
    <variables>
        <name>isManualCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberOfDuplicates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedClosedCaseNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedOpenCaseNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
