sas-core/main/default/flows/UTIL_Validate_Settlements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Increase_invalid_Settlement_count</name>
        <label>Increase invalid Settlement count</label>
        <locationX>880</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>numberOfInvalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_each_Settlement.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_each_Settlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_invalid_Settlement_count_0</name>
        <label>Increase invalid Settlement count</label>
        <locationX>1320</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>numberOfInvalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_each_Settlement.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_each_Settlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_invalid_Settlement_count_0_0</name>
        <label>Increase invalid Settlement count</label>
        <locationX>1760</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>numberOfInvalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_each_Settlement.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_each_Settlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_invalid_Settlement_count_0_0_0</name>
        <label>Increase invalid Settlement count</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>numberOfInvalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invalidSettlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_each_Settlement.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_each_Settlement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Settlement_is_valid_Cheque</name>
        <label>Settlement is valid - Cheque</label>
        <locationX>352</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Increase_invalid_Settlement_count_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Cheque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Payee_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Currency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Bank_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Address_line_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Postal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_each_Settlement</targetReference>
            </connector>
            <label>Valid - Cheque</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_is_valid_EB_Points</name>
        <label>Settlement is valid - EB Points</label>
        <locationX>1672</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Increase_invalid_Settlement_count_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_EB_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.EuroBonus_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.EuroBonus_Points__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.EuroBonus_Points__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_each_Settlement</targetReference>
            </connector>
            <label>Valid - EB Points</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_is_valid_Monetary</name>
        <label>Settlement is valid - Monetary</label>
        <locationX>792</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Increase_invalid_Settlement_count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Monetary</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND ((7 AND 8 AND 9 AND 10 AND 11) OR 12) AND 13 AND 14</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Bank_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.BIC_Swift__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Payee_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Currency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Bank_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Bank_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Address_line_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Postal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Claim__r.Type_of_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Claim__r.Type_of_Customer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Private customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_each_Settlement</targetReference>
            </connector>
            <label>Valid - Monetary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_is_valid_Voucher</name>
        <label>Settlement is valid - Voucher</label>
        <locationX>1232</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Increase_invalid_Settlement_count_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Voucher_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Currency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Payee_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Payee_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_each_Settlement.Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_each_Settlement</targetReference>
            </connector>
            <label>Valid - Voucher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_Type</name>
        <label>Settlement Type</label>
        <locationX>1188</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Validate_each_Settlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cheque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cheque</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Settlement_is_valid_Cheque</targetReference>
            </connector>
            <label>Cheque</label>
        </rules>
        <rules>
            <name>Monetary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monetary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Settlement_is_valid_Monetary</targetReference>
            </connector>
            <label>Monetary</label>
        </rules>
        <rules>
            <name>Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Settlement_is_valid_Voucher</targetReference>
            </connector>
            <label>Voucher</label>
        </rules>
        <rules>
            <name>EB_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_each_Settlement.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EB Points</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Settlement_is_valid_EB_Points</targetReference>
            </connector>
            <label>EB Points</label>
        </rules>
    </decisions>
    <interviewLabel>UTIL Validate Settlements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UTIL Validate Settlements</label>
    <loops>
        <name>Validate_each_Settlement</name>
        <label>Validate each Settlement</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>settlementsToValidate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Settlement_Type</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_each_Settlement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>invalidSettlements</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>numberOfInvalidSettlements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>settlementsToValidate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Settlement__c</objectType>
    </variables>
</Flow>
