sas-core/main/default/flows/VOICECALL_Set_Priority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_EB_Level</name>
        <label>Get EB Level</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <actionName>SasAccount</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Eurobonus_Tier_Level</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eurobonusNumbers</name>
            <value>
                <elementReference>euroBonusNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>eurobonusAccount</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Eurobonus_Tier_Level</name>
        <label>Check Eurobonus Tier Level</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_Low_Priority2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Eurobonus Level</defaultConnectorLabel>
        <rules>
            <name>Pandion_Diamond_Or_Gold</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>eurobonusAccount.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eurobonusAccount.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eurobonusAccount.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Urgent_Priority</targetReference>
            </connector>
            <label>Pandion Diamond Or Gold</label>
        </rules>
        <rules>
            <name>Silver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eurobonusAccount.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_High_Priority</targetReference>
            </connector>
            <label>Silver</label>
        </rules>
        <rules>
            <name>Basic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eurobonusAccount.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Medium_Priority</targetReference>
            </connector>
            <label>Basic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IATA_Tier_Level</name>
        <label>Check IATA Tier Level</label>
        <locationX>1502</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_Low_Priority3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IATA Level</defaultConnectorLabel>
        <rules>
            <name>A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iataLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_High_Priority2</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iataLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Medium_Priority2</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iataLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Low_Priority4</targetReference>
            </connector>
            <label>C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BC2_Customer</name>
        <label>Is BC2 Customer</label>
        <locationX>1304</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Set_Low_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No EB Number or IATA Number</defaultConnectorLabel>
        <rules>
            <name>B2C_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>euroBonusNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EB_Level</targetReference>
            </connector>
            <label>B2C Customer</label>
        </rules>
        <rules>
            <name>B2C_Customer2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iataNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>B2C Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>VOICECALL Set Priority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VOICECALL Set Priority</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1502</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_IATA_Tier_Level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IATA_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iataNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>iataLevel</assignToReference>
            <field>IATA_Level__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_High_Priority</name>
        <label>Set High Priority</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_High_Priority2</name>
        <label>Set High Priority</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Low_Priority</name>
        <label>Set Low Priority</label>
        <locationX>2162</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Low_Priority2</name>
        <label>Set Low Priority</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Low_Priority3</name>
        <label>Set Low Priority</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Low_Priority4</name>
        <label>Set Low Priority</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Medium_Priority</name>
        <label>Set Medium Priority</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Medium_Priority2</name>
        <label>Set Medium Priority</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Urgent_Priority</name>
        <label>Set Urgent Priority</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voiceCallId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_BC2_Customer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>eurobonusAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>euroBonusNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iataLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iataNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>voiceCallId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
