sas-core/main/default/flows/VOICECALL_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_to_Queue</name>
        <label>Route to Queue</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N97T000000k9bhSAA</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Amazon_Warmup_Call</name>
        <label>Is Amazon Warmup Call</label>
        <locationX>732</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Amazon Warmup Call</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Amazon_Warmup_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>menuSelection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>99</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_VoiceCall_priority</targetReference>
            </connector>
            <label>Is Not Amazon Warmup Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>IVR_Selection</name>
        <label>IVR Selection</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IVR selection (use fallback queue)</defaultConnectorLabel>
        <rules>
            <name>EuroBonus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>menuSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EuroBonus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EB_Queue_Id</targetReference>
            </connector>
            <label>EuroBonus</label>
        </rules>
        <rules>
            <name>Agent_Helpdesk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>menuSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent Helpdesk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_Helpdesk_Queue_Id</targetReference>
            </connector>
            <label>Agent Helpdesk</label>
        </rules>
        <rules>
            <name>Direct_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>menuSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Direct_Sales_Queue_Id</targetReference>
            </connector>
            <label>Direct Sales</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>{!country} + &quot; &quot; + {!language} + &quot; &quot; + {!ivrSelectionText}</expression>
    </formulas>
    <formulas>
        <name>ivrSelectionText</name>
        <dataType>String</dataType>
        <expression>CASE({!menuSelection}, 
&quot;1&quot;, &quot;Agent Helpdesk&quot;, 
&quot;2&quot;, &quot;Direct Sales&quot;,
&quot;3&quot;, &quot;Eurobonus&quot;,
&quot;No Selection&quot;)</expression>
    </formulas>
    <interviewLabel>VOICECALL Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VOICECALL Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Update_VoiceCall</targetReference>
        </connector>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Agent Helpdesk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_Language__c</field>
            <value>
                <elementReference>language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Agent_Helpdesk_Queue_Id</name>
        <label>Get Agent Helpdesk Queue Id</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice_AGT_ENG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Direct_Sales_Queue_Id</name>
        <label>Get Direct Sales Queue Id</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice_DS_ENG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_EB_Queue_Id</name>
        <label>Get EB Queue Id</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice_EB_ENG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_VoiceCall</name>
        <label>Update VoiceCall</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Route_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Caller_IVR_Langauge__c</field>
            <value>
                <elementReference>language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_IVR_Selection__c</field>
            <value>
                <elementReference>menuSelection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_Country__c</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Amazon_Warmup_Call</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Set_the_VoiceCall_priority</name>
        <label>Set the VoiceCall priority</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>IVR_Selection</targetReference>
        </connector>
        <flowName>VOICECALL_Set_Priority</flowName>
        <inputAssignments>
            <name>euroBonusNumber</name>
            <value>
                <elementReference>euroBonusNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>iataNumber</name>
            <value>
                <elementReference>iataNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>voiceCallId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>euroBonusNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iataNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>menuSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
