sas-core/main/default/flows/VOICECALL_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Popup_Account_Case_Tabs</name>
        <label>Popup Account Case Tabs</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Route_to_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;812698e7&quot;,&quot;targetObjectId&quot;:&quot;{!Get_VoiceCall.Account__c}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;99bba4a6&quot;,&quot;targetObjectId&quot;:&quot;{!Get_VoiceCall.Case__c}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>screenPopups</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Popup_Case_Tab</name>
        <label>Popup Case Tab</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Route_to_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;99bba4a6&quot;,&quot;targetObjectId&quot;:&quot;{!Get_VoiceCall.Case__c}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>screenPopups</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Queue</name>
        <label>Route to Queue</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>screenPopups</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N97T000000k9bhSAA</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Account_Found</name>
        <label>Is Account Found</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Popup_Case_Tab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Found</defaultConnectorLabel>
        <rules>
            <name>Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VoiceCall.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Popup_Account_Case_Tabs</targetReference>
            </connector>
            <label>Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>IVR_Selection</name>
        <label>IVR Selection</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Low_Prio_Queue_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IVR selection (use fallback queue)</defaultConnectorLabel>
        <rules>
            <name>EuroBonus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ivrSelectionText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EuroBonus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EB_Queue_Id</targetReference>
            </connector>
            <label>EuroBonus</label>
        </rules>
        <rules>
            <name>Agent_Helpdesk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ivrSelectionText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent Helpdesk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_Helpdesk_Queue_Id</targetReference>
            </connector>
            <label>Agent Helpdesk</label>
        </rules>
        <rules>
            <name>Direct_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ivrSelectionText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Direct_Sales_Queue_Id</targetReference>
            </connector>
            <label>Direct Sales</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>{!country} + &quot; &quot; + {!language} + &quot; &quot; + {!ivrSelectionText}</expression>
    </formulas>
    <formulas>
        <name>ivrSelectionText</name>
        <dataType>String</dataType>
        <expression>CASE({!menuSelection}, 
&quot;1&quot;, &quot;Agent Helpdesk&quot;, 
&quot;2&quot;, &quot;Direct Sales&quot;,
&quot;3&quot;, &quot;Eurobonus&quot;,
&quot;No Selection&quot;)</expression>
    </formulas>
    <interviewLabel>VOICECALL Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VOICECALL Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Update_VoiceCall</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.sasAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Telephony</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_EBLevel__c</field>
            <value>
                <elementReference>Get_Account.sasAccount.FCS_EBLevel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_EBNumber__c</field>
            <value>
                <elementReference>euroBonusNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_Language__c</field>
            <value>
                <elementReference>language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <stringValue>Sitel Phone Agents</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Agent_Helpdesk_Queue_Id</name>
        <label>Get Agent Helpdesk Queue Id</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice_AGT_ENG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_RecordType</name>
        <label>Get Case RecordType</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Direct_Sales_Queue_Id</name>
        <label>Get Direct Sales Queue Id</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice_DS_ENG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_EB_Queue_Id</name>
        <label>Get EB Queue Id</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice_EB_ENG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Low_Prio_Queue_Id</name>
        <label>Get Low Prio Queue Id</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice_DS_ENG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_VoiceCall</name>
        <label>Get VoiceCall</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_VoiceCall</name>
        <label>Update VoiceCall</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_VoiceCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.sasAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_IVR_Language__c</field>
            <value>
                <elementReference>language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_IVR_Selection__c</field>
            <value>
                <elementReference>menuSelection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_Country__c</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Set_VoiceCall_Priority</targetReference>
        </connector>
        <flowName>VOICECALL_Get_Account</flowName>
        <inputAssignments>
            <name>euroBonusNumber</name>
            <value>
                <elementReference>euroBonusNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>iataNumber</name>
            <value>
                <elementReference>iataNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>menuSelection</name>
            <value>
                <elementReference>menuSelection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_VoiceCall_Priority</name>
        <label>Set VoiceCall Priority</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>IVR_Selection</targetReference>
        </connector>
        <flowName>VOICECALL_Set_Priority</flowName>
        <inputAssignments>
            <name>euroBonusLevel</name>
            <value>
                <elementReference>Get_Account.sasAccount.FCS_EBLevel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>iataLevel</name>
            <value>
                <elementReference>Get_Account.sasAccount.IATA_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>voiceCallId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>euroBonusNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iataNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>menuSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenPopups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PendingServiceRoutingInteractionInfo</objectType>
    </variables>
</Flow>
