sas-core/main/default/flows/VOICECALL_Get_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_AccountId</name>
        <label>Get AccountId</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>SasAccount</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_EB_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eurobonusNumbers</name>
            <value>
                <elementReference>euroBonusNumber</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_BC2_Customer</name>
        <label>Is BC2 Customer</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No EB Number or IATA Number</defaultConnectorLabel>
        <rules>
            <name>B2C_Customer</name>
            <conditionLogic>(1 AND (2 OR 3)) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>validEurobonusNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>menuSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>menuSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>menuSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREMIUM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AccountId</targetReference>
            </connector>
            <label>B2C Customer</label>
        </rules>
        <rules>
            <name>B2B_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validIATANumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>menuSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IATA_Account</targetReference>
            </connector>
            <label>B2B Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>validEurobonusNumber</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!euroBonusNumber})) &amp;&amp; NOT({!euroBonusNumber} == &apos;Timeout&apos;)</expression>
    </formulas>
    <formulas>
        <name>validIATANumber</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!iataNumber})) &amp;&amp; NOT({!euroBonusNumber} == &apos;Timeout&apos;)</expression>
    </formulas>
    <interviewLabel>VOICECALL Get Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VOICECALL Get Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EB_Account</name>
        <label>Get EB Account</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AccountId.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sasAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FCS_EBLevel__c</queriedFields>
        <queriedFields>IATA_Level__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_IATA_Account</name>
        <label>Get IATA Account</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IATA_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iataNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sasAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IATA_Level__c</queriedFields>
        <queriedFields>FCS_EBLevel__c</queriedFields>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_BC2_Customer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>euroBonusNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iataNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>menuSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sasAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
